{# 
    Primary Secondary Link
    Represents a single link that is nested inside a top level linkset,
    or secondary linkset in the primary navigation.
#}
<a id="navbar-sublink-{{ parent }}-{{ id }}" class="dropdown-item d-flex flex-row small" href="{{ details.href }}">
    <span class="link-title-wrapper d-flex flex-row w-auto">
        {%- if details.icon %}<span class="title-icon" title="{{ details.title }}"><i class="{{ details.icon }} pe-2"></i></span>{% endif -%}
        <span class="title-text{%- if details.icon %} {% endif %}">{{ details.title }}</span>
    </span>
</a>