{# 
    Primary Secondary Linkset
    Represents a set of links that is nested inside a top level linkset,
    or another secondary linkset further within.
#}
<div id="navbar-sublink-{{ parent }}-{{ id }}" class="dropdown-item dropdown dropdown-submenu flex-column py-0">
    <div class="nav-link d-flex flex-column flex-lg-row align-items-center px-0 small">
        <span class="d-flex flex-row w-100">
            <a class="link-literal d-flex w-auto flex-row order-first" href="{{ details.href }}">
                <span class="link-title-wrapper d-flex flex-row">
                    {%- if details.icon %}<span class="title-icon" title="{{ details.title }}"><i class="{{ details.icon }} pe-2"></i></span>{% endif -%}
                    <span class="title-text{%- if details.icon %} {% endif %}">{{ details.title }}</span>
                </span>
            </a>
            {%- if details.children %}
                <span class="col-2  px-0 subcategory-controls d-flex mb-0 text-muted h6 d-lg-none ms-auto">
                    <button class="shadow-0 accordion-button p-1 m-0 text-muted collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-navigation-sublink-{{ parent }}-{{ id }}" aria-expanded="false" aria-controls="navbar-navigation-sublink-{{ parent }}-{{ id }}"></button>
                </span>
            {% endif -%}
        </span>
        {%- if details.children %}
            <a class="dropdown-toggle d-none d-lg-flex order-12 ms-auto" id="navbar-navigation-sublink-{{ parent }}-{{ id }}" href="#" role="button" data-bs-toggle="dropdown" data-bs-target="#navbar-navigation-sublink-{{ parent }}-{{ id }}" aria-haspopup="true" aria-expanded="false"></a>
        {% endif -%}
    </div>
    {%- if details.children %}
        <div id="navbar-navigation-sublink-{{ parent }}-{{ id }}" class="dropdown-menu w-auto w-lg-100 pl-2" aria-labelledby="navbar-navigation-sublink-{{ parent }}-{{ id }}">
            {% for key, child in details.children %}
                {% if child.children %}
                    {% include 'html/component/bootstrap/navbar/menu/secondary-linkset.twig' with {"id": key, "details": child, "parent": id} %}
                {% else %}
                    {% include 'html/component/bootstrap/navbar/menu/secondary-link.twig' with {"id": key, "details": child, "parent": id} %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif -%}
</div>