{# 
    Primary Top Level Link
    Represents a single link that should display at the top level of the primary navigation.
#}
<li id="primary-navigation-{{ id }}" class="nav-item d-flex flex-row px-2 px-sm-3 px-lg-0">
    <div class="nav-link d-flex flex-row w-100 align-items-center w-100 small">
        <a class="link-literal d-flex flex-row" href="{{ details.href }}">
            <span class="link-title-wrapper d-flex flex-row w-100 h-100">
                {%- if details.icon %}<span class="title-icon d-inline-block d-md-none d-lg-inline-block" title="{{ details.title }}"><i class="{{ details.icon }}"></i></span>{% endif -%}
                <span class="title-text{%- if details.icon %} d-inline-block d-md-inline-block ps-2{% endif %}">{{ details.title }}</span>
            </span>
        </a>
    </div>
</li> 