{# 
    Primary Top Level Linkset
    Represents a set of links that should display at the top level of the primary navigation.
#}
<li id="primary-navigation-{{ id }}" class="nav-item dropdown d-flex flex-row px-2 px-sm-3 px-lg-0">
    <div class="nav-link d-flex flex-column flex-lg-row align-items-center pe-0 w-100 small">
        <span class="d-flex flex-row w-100">
            <a class="link-literal d-flex flex-row" href="{{ details.href }}">
                <span class="link-title-wrapper d-flex flex-row w-100 h-100">
                    {%- if details.icon %}<span class="title-icon d-inline-block d-md-none d-lg-inline-block" title="{{ details.title }}"><i class="{{ details.icon }}"></i></span>{% endif -%}
                    <span class="title-text{%- if details.icon %} d-inline-block ps-2{% endif %}">{{ details.title }}</span>
                </span>
            </a>
            {%- if details.children %}
                <span class="col-2  px-0 subcategory-controls d-flex mb-0 text-muted h6 d-lg-none ms-auto">
                    <button class="shadow-0 accordion-button p-1 m-0 text-muted collapsed" data-bs-toggle="collapse" data-bs-target="#primary-navigation-{{ id }}-dropdown-menu" aria-expanded="false" aria-controls="primary-navigation-{{ id }}-dropdown-menu"></button>
                </span>
            {% endif -%}
        </span>
        {%- if details.children %}
            <a class="nav-link dropdown-toggle d-none d-lg-flex py-0 ps-2 pe-1 ms-auto" id="navbar-primary-navigation-{{ id }}" href="#" role="button" data-bs-toggle="dropdown" data-bs-target="#primary-navigation-{{ id }}" aria-haspopup="true" aria-expanded="false">{{ details.name }}</a>
        {% endif -%}
        <div id="primary-navigation-{{ id }}-dropdown-menu" class="dropdown-menu p-0 pl-2 w-100" aria-labelledby="navbar-primary-navigation-{{ id }}">
            {%- for key, child in details.children -%}
                {%- if child.children -%}
                    {% include 'html/component/bootstrap/navbar/menu/secondary-linkset.twig' with {"id": key, "details": child, "parent": id} %}
                {%- else -%}
                    {% include 'html/component/bootstrap/navbar/menu/secondary-link.twig' with {"id": key, "details": child, "parent": id} %}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</li>