{# 
    Primary Top Level Linkset
    Represents a set of links that should display at the top level of the primary navigation.
#}
<li id="primary-navigation-{{ id }}" class="nav-item dropdown">
    <div class="nav-link d-flex flex-row align-items-center">
        <a class="link-literal d-flex flex-row order-first" href="{{ details.href }}">
            <span class="link-title-wrapper d-flex flex-row">
                {%- if details.icon %}<span class="title-icon" title="{{ details.title }}"><i class="{{ details.icon }}"></i></span>{% endif -%}
                <span class="title-text{%- if details.icon %} {% endif %}">{{ details.title }}</span>
            </span>
        </a>
        <a class="dropdown-toggle order-12" id="navbar-primary-navigation-{{ id }}" href="#" role="button" data-bs-toggle="dropdown" data-bs-target="#primary-navigation-{{ id }}" aria-haspopup="true" aria-expanded="false"></a>
    </div>
    <div class="dropdown-menu vertical-menu w-auto w-lg-100" aria-labelledby="navbar-primary-navigation-{{ id }}">
        {%- for key, child in details.children -%}
            {%- if child.children -%}
                {% include 'html/component/bootstrap/navbar/menu/secondary-linkset.twig' with {"id": key, "details": child, "parent": id} %}
            {%- else -%}
                {% include 'html/component/bootstrap/navbar/menu/secondary-link.twig' with {"id": key, "details": child, "parent": id} %}
            {%- endif -%}
        {%- endfor -%}
    </div>
</li>