{# 
    Primary Top Level Link
    Represents a single link that should display at the top level of the primary navigation.
#}
<li id="primary-navigation-{{ id }}" class="nav-item">
    <div class="nav-link d-flex flex-row align-items-center">
        <a class="link-literal d-flex flex-row" href="{{ details.href }}">
            <span class="link-title-wrapper d-flex flex-row">
                {%- if details.icon %}<span class="title-icon" title="{{ details.title }}"><i class="{{ details.icon }}"></i></span>{% endif -%}
                <span class="title-text{%- if details.icon %} {% endif %}">{{ details.title }}</span>
            </span>
        </a>
    </div>
</li> 