{# Null Template
   This is for things that MUST declare a valid template
   but don't do anything with one. It does nothing.

   It only contains a block to negate whitespace.
#}{%- autoescape false -%}{%- block main -%}{%- endblock -%}{%- endautoescape -%}