/* 
    Sass Visual Effects
    Created on : Dec 7, 2018, 9:22:08 PM
    Author     : Brian Dayhoff
*/

/*$breadcrumb-divider: quote(">");*/
/*$breadcrumb-divider: fa-content($fa-var-chevron-right);*/

.breadcrumb-item {
    + .breadcrumb-item {
        &::before {
            font-family: "Font Awesome 5 Free";
            font-size: .5rem;
            vertical-align: middle;
            font-weight: 900;
            margin-top: 1.33ex;
            content: "\f054" !important;
        }
    }
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

.bg-gradient-secondary {
    background-color: #858796;
    background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
    background-size: cover;
}

.bg-gradient-success {
    background-color: #1cc88a;
    background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
    background-size: cover;
}

.bg-gradient-info {
    background-color: #36b9cc;
    background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
    background-size: cover;
}

.bg-gradient-warning {
    background-color: #f6c23e;
    background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
    background-size: cover;
}

.bg-gradient-danger {
    background-color: #e74a3b;
    background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
    background-size: cover;
}

.bg-gradient-light {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
    background-size: cover;
}

.bg-gradient-dark {
    background-color: #5a5c69;
    background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
    background-size: cover;
}

.bg-gray-100 {
    background-color: #f8f9fc !important;
}

.bg-gray-200 {
    background-color: #eaecf4 !important;
}

.bg-gray-300 {
    background-color: #dddfeb !important;
}

.bg-gray-400 {
    background-color: #d1d3e2 !important;
}

.bg-gray-500 {
    background-color: #b7b9cc !important;
}

.bg-gray-600 {
    background-color: #858796 !important;
}

.bg-gray-700 {
    background-color: #6e707e !important;
}

.bg-gray-800 {
    background-color: #5a5c69 !important;
}

.bg-gray-900 {
    background-color: #3a3b45 !important;
}


.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
}

.border-bottom-primary {
    border-bottom: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
    border-left: 0.25rem solid #858796 !important;
}

.border-bottom-secondary {
    border-bottom: 0.25rem solid #858796 !important;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
}

.border-bottom-success {
    border-bottom: 0.25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
}

.border-bottom-info {
    border-bottom: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
}

.border-bottom-warning {
    border-bottom: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
    border-left: 0.25rem solid #e74a3b !important;
}

.border-bottom-danger {
    border-bottom: 0.25rem solid #e74a3b !important;
}

.border-left-light {
    border-left: 0.25rem solid #f8f9fc !important;
}

.border-bottom-light {
    border-bottom: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
    border-left: 0.25rem solid #5a5c69 !important;
}

.border-bottom-dark {
    border-bottom: 0.25rem solid #5a5c69 !important;
}

.rotate-15 {
    transform: rotate(15deg);
}

.rotate-n-15 {
    transform: rotate(-15deg);
}


.mask {
    &.dark-1 {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.dark-2 {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.dark-3 {
        background-color: rgba(0, 0, 0, 0.3);
    }

    &.dark-4 {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &.dark-5 {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &.dark-6 {
        background-color: rgba(0, 0, 0, 0.6);
    }

    &.dark-7 {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &.dark-8 {
        background-color: rgba(0, 0, 0, 0.8);
    }

    &.dark-9 {
        background-color: rgba(0, 0, 0, 0.9);
    }
    &.light-1 {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &.light-2 {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &.light-3 {
        background-color: rgba(255, 255, 255, 0.3);
    }

    &.light-4 {
        background-color: rgba(255, 255, 255, 0.4);
    }

    &.light-5 {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &.light-6 {
        background-color: rgba(255, 255, 255, 0.6);
    }

    &.light-7 {
        background-color: rgba(255, 255, 255, 0.7);
    }

    &.light-8 {
        background-color: rgba(255, 255, 255, 0.8);
    }

    &.light-9 {
        background-color: rgba(255, 255, 255, 0.9);
    }
    &.boxes {
        background-color: #444444;
        opacity: 0.5;
        background-image:  linear-gradient(#000000 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, #000000 1.2000000000000002px, #444444 1.2000000000000002px);
        background-size: 24px 24px;
        &.dark-1 {
            opacity: 0.1;
        }
        &.dark-2 {
            opacity: 0.2;
        }
        &.dark-3 {
            opacity: 0.3;
        }
        &.dark-4 {
            opacity: 0.4;
        }
        &.dark-5 {
            opacity: 0.5;
        }
        &.dark-6 {
            opacity: 0.6;
        }
        &.dark-7 {
            opacity: 0.7;
        }
        &.dark-8 {
            opacity: 0.8;
        }
        &.dark-9 {
            opacity: 0.9;
        }
    }
    &.rhombus {
        background-color: #444444;
        opacity: 0.5;
        background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #444444 25%);
        background-position:  12px 0, 12px 0, 0 0, 0 0;
        background-size: 12px 12px;
        background-repeat: repeat;
        &.dark-1 {
            opacity: 0.1;
        }
        &.dark-2 {
            opacity: 0.2;
        }
        &.dark-3 {
            opacity: 0.3;
        }
        &.dark-4 {
            opacity: 0.4;
        }
        &.dark-5 {
            opacity: 0.5;
        }
        &.dark-6 {
            opacity: 0.6;
        }
        &.dark-7 {
            opacity: 0.7;
        }
        &.dark-8 {
            opacity: 0.8;
        }
        &.dark-9 {
            opacity: 0.9;
        }
    }
    &.cubes {
        background-color: #444444;
        opacity: 0.5;
        background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
        background-size: 24px 42px;
        background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
        &.dark-1 {
            opacity: 0.1;
        }
        &.dark-2 {
            opacity: 0.2;
        }
        &.dark-3 {
            opacity: 0.3;
        }
        &.dark-4 {
            opacity: 0.4;
        }
        &.dark-5 {
            opacity: 0.5;
        }
        &.dark-6 {
            opacity: 0.6;
        }
        &.dark-7 {
            opacity: 0.7;
        }
        &.dark-8 {
            opacity: 0.8;
        }
        &.dark-9 {
            opacity: 0.9;
        }
    }
}
