/* 
    Media Display
    Created on : Sept 30, 2021, 1:09:08 PM
    Author     : Brian Dayhoff
*/



/*
 * Profile banner structure
 */
.profile-banner {
    min-height: 25vh;
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 5rem;
    background-image: url("/public/media/img/profile/default-banner.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: content-box;
}

/*
 * Avatar structure
 */
.avatar {
    width: 5vh;
    height: 5vh;

    .icon {
        width: inherit;
        height: inherit;
        line-height: 5vh;
        font-size: 5vh;
        text-align: center;
        vertical-align: middle;
        margin: auto;

        i {
            line-height: 5vh;
            font-size: 5vh;
            text-align: center;
            vertical-align: middle;
            margin: auto;
        }
    }

    &.avatar-profile {
        width: 25vh;
        height: 25vh;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 3rem;
        
        .icon {
            line-height: 23.5vh;
            font-size: 15vh;

            i {
                line-height: 23.5vh;
                font-size: 15vh;
            }
        }
    }
}