{# Bootstrap 5 Login Form
    Provides a responsive bootstrap 5 login form template
#}{%- extends "html/component/bootstrap/form/form.twig" %}

{% block wrapper %}
    <div id="{{ id }}-wrapper" class="container-fluid py-5 h-100">
        <div class="row no-gutters d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                {{ parent() }}
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
    {% block content %}
        <div class="card shadow-2-strong">
            <div class="card-body p-5 text-center d-flex justify-content-start align-items-stretch w-100">
                {%- if header %}
                    {%- if debug.enabled -%}
                        <!-- Header -->
                    {%- endif -%}
                    {%- block header %}
                        <h3 class="mb-5">{{ header }}</h3>
                    {%- endblock %}
                    {%- if debug.enabled -%}
                        <!-- End Header -->
                    {%- endif -%}
                {%- endif %}
                {%- if title %}
                    {%- if debug.enabled -%}
                        <!-- Header -->
                    {%- endif -%}
                    {%- block title %}
                        <h3 class="mb-5">{{ title }}</h3>
                    {%- endblock %}
                    {%- if debug.enabled -%}
                        <!-- End Header -->
                    {%- endif -%}
                {%- endif %}
                {%- block form %}
                    <fieldset name="{% if form.main.id %}{{ form.main.id }}{% else %}{{ id }}-main{% endif %}" id="{% if form.main.id %}{{ form.main.id }}{% else %}{{ id }}-main{% endif %}" class="w-100{% if form.main.class %} {{ form.main.class }}{% else %} form-group{% endif %}" form="{{ id }}">
                        <div class="input-group form-outline has-validation mb-4 h-auto">
                            <span class="input-group-text" id="{% if form.identity.id %}{{ form.identity.id }}{% else %}{{ id }}-identity{% endif %}-prepend"><i class="fas fa-user"></i></span>
                            <input type="email" autocomplete="username" id="{% if form.identity.id %}{{ form.identity.id }}{% else %}{{ id }}-identity{% endif %}" name="{% if form.email.id %}{{ form.email.id }}{% else %}{{ id }}-identity{% endif %}" class="form-control form-control-lg{%- if errors.identity %} is-invalid{% elseif identity|raw != '' %} is-valid{% endif %}{% if form.identity.class %} {{ form.identity.class }}{% endif %}" value="{% if identity %}{{ identity|raw }}{% endif %}" aria-describedby="{% if form.identity.id %}{{ form.identity.id }}{% else %}{{ id }}-identity{% endif %}-prepend" required />
                            <label class="form-label" for="{% if form.identity.id %}{{ form.identity.id }}{% else %}{{ id }}-identity{% endif %}">{% if form.identity.title %}{{ form.identity.title }}{% else %}Username / Email{% endif %}</label>
                            {%- if errors.identity %}
                                <div class="invalid-feedback w-100 d-flex flex-column justify-content-end text-end">
                                    {%- for error in errors.identity %}
                                        <span class="validation-message text-danger d-block">{{ error }}</span>
                                    {%- endfor %}
                                </div>
                            {%- endif %}
                        </div>

                        <div class="input-group form-outline has-validation mb-4 h-auto">
                            <span class="input-group-text" id="{% if form.identity.id %}{{ form.identity.id }}{% else %}{{ id }}-identity{% endif %}-prepend"><i class="fas fa-key"></i></span>
                            <input type="password" autocomplete="current-password" id="{% if form.password.id %}{{ form.password.id }}{% else %}{{ id }}-password{% endif %}" name="{% if form.password.id %}{{ form.password.id }}{% else %}{{ id }}-password{% endif %}" class="form-control form-control-lg{%- if errors.password %} is-invalid{% elseif password|raw != '' %} is-valid{% endif %}{% if form.password.class %} {{ form.password.class }}{% endif %}" value="{% if password%}{{ password|raw }}{% endif %}" required />
                            <label class="form-label" for="{% if form.password.id %}{{ form.password.id }}{% else %}{{ id }}-password{% endif %}">{% if form.password.title %}{{ form.password.title }}{% else %}Password{% endif %}</label>
                            {%- if errors.password %}
                                <div class="invalid-feedback w-100 d-flex flex-column justify-content-end text-end">
                                    {%- for error in errors.password %}
                                        <span class="validation-message text-danger d-block">{{ error }}</span>
                                    {%- endfor %}
                                </div>
                            {%- endif %}
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check form-switch d-flex justify-content-start mb-4">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value="remember"
                                id="{% if form.remember.id %}{{ form.remember.id }}{% else %}{{ id }}-remember{% endif %}"
                                name="{% if form.remember.id %}{{ form.remember.id }}{% else %}{{ id }}-remember{% endif %}"
                                {%- if remember %} checked{% endif %}
                                />
                            <label class="form-check-label" for="{% if form.remember.id %}{{ form.remember.id }}{% else %}{{ id }}-remember{% endif %}"> Remember password </label>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                    </fieldset>
                    {%- if social %}
                        {%- if debug.enabled -%}
                            <!-- Social Login -->
                        {%- endif -%}
                        <fieldset name="{% if form.social.id %}{{ form.social.id }}{% else %}{{ id }}-social{% endif %}" id="{% if form.social.id %}{{ form.social.id }}{% else %}{{ id }}-social{% endif %}" class="{% if form.social.class %}{{ form.social.class }}{% else %}form-group{% endif %}" form="{{ id }}">
                            {%- block social %}
                                <hr class="my-4">

                                <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                                <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>

                            {%- endblock %}
                        </fieldset>
                        {%- if debug.enabled -%}
                            <!-- End Social Login -->
                        {%- endif -%}
                    {%- endif %}
                    {%- if registration %}
                        {%- if debug.enabled -%}
                            <!-- Social Login -->
                        {%- endif -%}
                        <hr class="my-4">
                        <fieldset name="{% if form.registration.id %}{{ form.registration.id }}{% else %}{{ id }}-registration{% endif %}" id="{% if form.registration.id %}{{ form.registration.id }}{% else %}{{ id }}-registration{% endif %}" class="{% if form.registration.class %}{{ form.registration.class }}{% else %}form-group d-flex flex-row{% endif %}" form="{{ id }}">
                            {%- block registration %}

                                <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit">Sign Up</button>
                                <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="submit">Forgot Password</button>

                            {%- endblock %}
                        </fieldset>
                        {%- if debug.enabled -%}
                            <!-- End Social Login -->
                        {%- endif -%}
                    {%- endif %}
                    {%- if csrf %}
                        {%- if debug.enabled -%}
                            <!-- Form CSRF -->
                        {%- endif -%}
                        <fieldset name="{% if csrf.id %}{{ csrf.id }}{% else %}{{ id }}-csrf{% endif %}" id="{% if csrf.id %}{{ csrf.id }}{% else %}{{ id }}-csrf{% endif %}" class="{% if csrf.class %}{{ csrf.class }}{% else %}form-group d-none{% endif %}" form="{{ id }}">
                            {%- block csrf %}
                                {%- if csrf.nonce -%}
                                    <input
                                        class="form-check-input d-none"
                                        type="hidden"
                                        value="{{ csrf.nonce }}"
                                        id="{% if csrf.nonce.id %}{{ csrf.nonce.id }}{% else %}{{ id }}-nonce{% endif %}"
                                        name="{% if csrf.nonce.id %}{{ csrf.nonce.id }}{% else %}{{ id }}-nonce{% endif %}"
                                        readonly
                                        required
                                        />
                                {%- endif -%}
                                {%- if csrf.token -%}
                                    <input
                                        class="form-check-input d-none"
                                        type="hidden"
                                        value="{{ csrf.token }}"
                                        id="{% if csrf.token.id %}{{ csrf.token.id }}{% else %}{{ id }}-token{% endif %}"
                                        name="{% if csrf.token.id %}{{ csrf.token.id }}{% else %}{{ id }}-token{% endif %}"
                                        readonly
                                        required
                                        />
                                {%- endif -%}
                            {%- endblock %}
                        </fieldset>
                        {%- if debug.enabled -%}
                            <!-- End Form CSRF -->
                        {%- endif -%}
                    {%- endif %}
                {%- endblock %}
                {%- if footer %}
                    {%- if debug.enabled -%}
                        <!-- Footer -->
                    {%- endif -%}
                    {%- block footer %}
                    {%- endblock %}
                    {%- if debug.enabled -%}
                        <!-- End Footer -->
                    {%- endif -%}
                {%- endif %}
            </div>
        </div>
    {%- endblock %}
{% endblock %}