{# Bootstrap 5 Login Form
    Provides a responsive bootstrap 5 login form template
#}{%- extends "html/component/bootstrap/navbar/navbar-ui.twig" %}
{% block main %}
    {{ parent() }}
{% endblock %}

{%- block identity %}
    <li class="nav-link d-flex flex-row align-items-center">
        <a class="link-literal d-flex flex-row text-gray-600 small" href="/login/">
            <span class="link-title-wrapper d-flex flex-row h-100"><span class="title-icon d-inline-block d-md-none d-lg-inline-block" title="About"><i class="fas fa-sign-in-alt"></i></span><span class="title-text d-inline-block d-md-inline-block ps-2">Login</span>
            </span>
        </a>
    </li>
    <li class="nav-link d-flex flex-row align-items-center">
        <a class="link-literal d-flex flex-row text-gray-600 small" href="/registration/">
            <span class="link-title-wrapper d-flex flex-row h-100"><span class="title-icon d-inline-block d-md-none d-lg-inline-block" title="About"><i class="fas fa-users"></i></span><span class="title-text d-inline-block d-md-inline-block ps-2">Sign Up</span>
            </span>
        </a>
    </li>
{%- endblock %}