{# 
    Documentation Menu
    Provides a responsive container for the documentation sidebar menu.

#}{%- extends "html/component/base.twig" -%}{%- block main -%}
    {%- if header %}
        {%- if debug.enabled -%}
            <!-- Header -->
        {%- endif -%}
        {%- block header -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Header -->
        {%- endif -%}
    {%- endif %}
    {%- block content -%}{%- endblock -%}
    {%- if topics %}
        {%- if debug.enabled -%}
            <!-- Topics -->
        {%- endif -%}
        {%- block topics -%}
            <ul id="{{ id }}-topics" class="list-group list-group-flush">
                {%- for key, topic in topics %}
                    {{ topic.render()|raw }}
                {%- endfor %}
            </ul>
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Topics -->
        {%- endif -%}
    {%- endif %}
    {%- if footer %}
        {%- if debug.enabled -%}
            <!-- Footer -->
        {%- endif -%}
        {%- block footer -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Footer -->
        {%- endif -%}
    {%- endif %}
{%- endblock -%}