{#
    Sidebar Component
    Provides a responsive sidebar container component.
#}{% extends "html/component/bootstrap/sidebar/sidebar.twig" %}
{% block main -%}
    {% if content %}
        {% block content -%}
            {{ parent() }}
        {%- endblock %}
    {% endif %}
{%- endblock %}
