{# 
    Documentation Menu Topic
    Provides a responsive container for the documentation sidebar menu topics.

#}{%- extends "html/component/base.twig" -%}
{%- block main -%}
    {%- if header %}
        {%- if debug.enabled -%}
            <!-- Header -->
        {%- endif -%}
        {%- block header -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Header -->
        {%- endif -%}
    {%- endif %}
    {%- if title %}
        {%- if debug.enabled -%}
            <!-- Title -->
        {%- endif -%}
        {%- block title -%}
            <div class="topic-title d-flex flex-row align-middle container-fluid">
                <div class="row px-0 w-100 align-middle">
                    <h3 class="col-10 btn btn-link h5 d-inline-block px-0 mb-0 text-left">
                        {%- if href -%}
                            <a href="{{ href }}">
                            {%- endif -%}
                            {%- if icon -%}
                                <i class="{{ icon }} pe-2"></i>
                            {%- endif -%}
                            {{ title }}
                            {%- if href -%}
                            </a>
                        {%- endif -%}
                    </h3>
                    {%- if categories %}
                        <span class="col-2  px-0 category-controls d-flex mb-0 text-muted h6">
                            <button class="shadow-0 accordion-button p-1 m-0 text-muted collapsed" data-bs-toggle="collapse" data-bs-target="#{{ id }}-categories" aria-expanded="false" aria-controls="{{ id }}-categories"></button>
                        </span>
                    {%- endif %}
                </div>
            </div>
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Title -->
        {%- endif -%}
    {%- endif %}
    {%- if categories %}
        {%- if debug.enabled -%}
            <!-- Categories -->
        {%- endif -%}
        {%- block categories %}
            <ul id="{{ id }}-categories" class="collapse list-group list-group-flush ps-2 ms-2 ps-lg-0">
                {%- for key, category in categories %}
                    {{ category.render()|raw }}
                {%- endfor %}
            </ul>
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Categories -->
        {%- endif -%}
    {%- endif %}
    {%- block content -%}{%- endblock -%}
    {%- if footer %}
        {%- if debug.enabled -%}
            <!-- Footer -->
        {%- endif -%}
        {%- block footer -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Footer -->
        {%- endif -%}
    {%- endif %}
{%- endblock -%}