{# 
    Documentation Menu Category
    Provides a responsive container for the documentation sidebar menu topics.

#}{%- extends "html/component/base.twig" -%}{%- block main -%}
    {%- if header %}
        {%- if debug.enabled -%}
            <!-- Header -->
        {%- endif -%}
        {%- block header -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Header -->
        {%- endif -%}
    {%- endif %}
    {%- if title %}
        {%- if debug.enabled -%}
            <!-- Title -->
        {%- endif -%}
        {%- block title -%}
            <div class="topic-title d-flex flex-row align-baseline">
                <h4 class="px-2 h6 d-flex flex-row align-baseline">
                    {%- if href -%}
                        <a href="{{ href }}" class="d-flex flex-row align-baseline">
                        {%- endif %}
                        {%- if icon -%}
                            <i class="{{ icon }} pe-2"></i>
                        {%- endif -%}
                        {{ title }}
                        {%- if href -%}
                        </a>
                    {%- endif -%}
                </h4>
                {%- if subcategories %}
                    <span class="col-2  px-0 subcategory-controls d-flex mb-0 text-muted h6 d-lg-none">
                            <button class="shadow-0 accordion-button p-1 m-0 text-muted collapsed" data-bs-toggle="collapse" data-bs-target="#{{ id }}-subcategories-dropdown" aria-expanded="false" aria-controls="{{ id }}-subcategories-dropdown"></button>
                        </span>
                    {%- if debug.enabled -%}
                        <!-- Subcategories -->
                    {%- endif -%}
                    {%- block subcategories %}
                        <span class="subcategory-controls d-flex ms-auto text-muted dropend">
                            <button class="btn btn-block d-none d-lg-flex shadow-0 p-1 m-0" data-bs-toggle="dropdown" data-bs-target="#{{ id }}-subcategories-dropdown" aria-expanded="false" aria-controls="{{ id }}-subcategories-dropdown">
                                <i class="fas fa-chevron-right"></i>
                                <span class="visually-hidden">Toggle Subcategories</span>
                            </button>
                            <div id="{{ id }}-subcategories-dropdown" class="accordion-collapse collapse dropdown-menu">
                                <ul id="{{ id }}-subcategories" class="list-group list-group-flush ps-2 ps-lg-0">
                                    {%- for key, subcategory in subcategories %}
                                        {{ subcategory.render()|raw }}
                                    {%- endfor %}
                                </ul>
                            </div>
                        </span>
                    {%- endblock %}
                    {%- if debug.enabled -%}
                        <!-- End Subcategories -->
                    {%- endif -%}
                {%- endif %}
            </div>
            {%- if subcategories %}
            {%- endif %}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Title -->
        {%- endif -%}
    {%- endif %}
    {%- block content -%}{%- endblock -%}
    {%- if footer %}
        {%- if debug.enabled -%}
            <!-- Footer -->
        {%- endif -%}
        {%- block footer -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Footer -->
        {%- endif -%}
    {%- endif %}
{%- endblock -%}