{# Documentation Multi-Subcategory
    
    Renders a subcategory link that also has additional nested subcategories
    
#}{% extends "html/component/documentation/sidebar/topic-subcategory.twig" %}
