{# 
    Identity Component
    Provides a navbar component to display a responsive logo and optional title and tagline for the site.
    Supports scalable logos and different logo images based on screen size.
    Screen reader friendly.
#}{% extends "html/component/base.twig" %}{% block main %}{% endblock %}
