{#
    Component Base

    This template provides the basis for components to extend from.
    The primary concern of this base component template is to provide
    standardized escaping and container attributes.
    
    Extending components only need to place their own content inside
    of the "main" block, and will otherwise utilize a standardized
    outer wrapper.
    
    The following blocks are available for child templates to override for more control over flow:
    - template_meta: Overrides the debug comment preceding the template
    - template_endmeta: Overrides the debug comment after the end of the template
    - wrapper attributes: Overrides the entire attribute section of the outer wrapper
    - wrapper data: Overrides the data attribute section of the outer wrapper
    - wrapper aria: Overrides the accessibility attribute section of the outer wrapper
    - main: The primary content of the template. You should override this in 
      your extension template to provide content
    
#}{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        {% block template_meta %}
            {%- if component_key %}<!-- Component Key: {{ component_key }} -->{% endif %}
            {%- if component_class %}<!-- Component Class: {{ component_class }} -->{% endif %}
            <!-- Template Engine: {{ debug.engine }} -->
            <!-- Begin Template [{{ debug.template }}] -->
            <!-- Available Template Context:
            
            {% for key in _context|keys %}
            [{{ key }}]
            {% endfor -%}
            
            -->
        {% endblock %}
    {%- endif -%}
    {% block wrapper %}
        <{% block open_tag %}{% if tagname %}{{ tagname }}{% else %}div{% endif %}{% endblock %}
            {%- block wrapper_attributes %}
                {% block wrapper_id %}{%- if id %} id="{{ id }}"{% endif %}{% endblock %}
                {% block wrapper_role %}{%- if role %} role="{{ role }}"{% endif %}{% endblock %}
                {% block wrapper_class %}{%- if class %} class="{{ class }}"{% endif %}{% endblock %}
                {% block wrapper_style %}{%- if style %} style="{{ style }}"{% endif %}{% endblock %}
                {% block wrapper_data %}
                    {%- if context %} data-context="{{ context }}"{% endif %}
                    {%- if component %} data-component="{{ component }}"{% endif %}
                    {%- if category %} data-category="{{ category }}"{% endif %}
                    {%- if parent %} data-parent="{{ parent }}"{% endif %}
                    {%- if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}
                    {%- if target %} data-bs-target="{{ target }}"{% endif %}
                {% endblock %}
                {%- block wrapper_aria %}
                    {%- if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}
                    {%- if controls %} aria-controls="{{ controls }}"{% endif %}
                {%- endblock %}
            {%- endblock %}>
            {% block main %}{% endblock %}
        </{% block close_tag %}{% if tagname %}{{ tagname }}{% else %}div{% endif %}{% endblock %}>
    {% endblock %}
    {%- if debug.enabled -%}
        {% block template_endmeta %}
        {%- if component_key %}<!-- End Component Key: {{ component_key }} -->{% endif %}
        {%- if component_class %}<!-- End Component Class: {{ component_class }} -->{% endif %}
        <!-- End Template [{{ debug.template }}] -->
        {% endblock %}
    {%- endif -%}
{%- endautoescape -%}
