{#
    Dashboard User Profile Component
    Provides a user profile for the default dashboard userbar.
#}{%- autoescape 'html' -%}
    {%- block main -%}
        {% block controls -%}
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% if identity.identity['display-name'] %}{{ identity.identity['display-name'] }}{% else %}Current User{% endif %}</span>
                <i class="{% if identity.profile.avatar %}{{ identity.profile.avatar }}{% else %} far fa-circle{% endif %} ml-2"></i></span>
            </a>
        {%- endblock %}
        {% block info -%}
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/user/">
                    <i class="fas fa-id-badge fa-sm fa-fw mr-2 text-gray-400"></i>
                    Account
                </a>
                <a class="dropdown-item" href="/user/profile/">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="/user/settings/">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="/user/activity/">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout/">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        {%- endblock %}
    {%- endblock -%}
{%- endautoescape -%}
