{# 
    Accordion
    Provides a container of collapsible page sections for quickly organizing
    complex sets of functionality into related tabs that stay out of the way
    when not in use
#}{% extends "html/component/base.twig" %}{% block main %}
    <div id="{{ id }}-accordion">
        {% block accordion %}
            {% for item in content %}
                <div id="{{ item.id }}" class="card">
                    <div class="card-header mx-0 px-0" id="{{ item.id }}-heading">
                        <h5 class="mx-0 mb-0 w-100">
                            <button class="btn btn-link w-100" data-bs-toggle="collapse" data-bs-target="#{{ item.id }}-body" aria-expanded="{% if item.expanded %}true{% else %}false{% endif %}" aria-controls="{{ item.id }}-body">
                                {% if item.title %}{{ item.title }}{% else %}{{ item.id }}{% endif %}
                            </button>
                        </h5>
                    </div>
                    <div id="{{ item.id }}-body" class="{% if item.expanded %}collapse show{% else %}collapse{% endif %}" aria-labelledby="{{ item.id }}-heading" data-parent="#{{ id }}-accordion">
                        <div class="card-body">{% if item.content is array %}{% for subitem in item.content %}{% if subitem is component %}{{ subitem.render()|raw }}{% else %}{{ subitem }}{% endif %}{% endfor %}{% elseif item.content is component %}{{ item.content.render()|raw }}{% else %}{{ item.content }}{% endif %}</div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    {% endblock %}
