{# 
    Search Bar
    Provides search functionality in a navbar component
#}{% extends "html/component/base.twig" %}{% block main %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}