{# 
    Ui Icon
    Provides a baseline for ui menu icons
#}{% extends "html/component/base.twig" %}
{%block main %}
    {%- block icon -%}
        <i
            {%- block icon_class %} class="
                {%- if icon.name %}{{ icon.name }}{% endif %}
                {%- if icon.class %} {{ icon.class }}{% endif %}"
            {%- endblock %}>
            {% if icon.content %}
                {%- block icon_content -%}
                    {{ icon.content }}
                {%- endblock -%}
            {%- endif -%}
        </i>
    {%- endblock %}
    {% if badge %}
        {%- block badge -%}
            {{ badge.render()|raw }}
        {%- endblock -%}
    {%- endif -%}
{%- endblock %}