{# 
    Ui Link
    Provides a generic baseline for ui menu links
#}{% extends "html/component/base.twig" %}

{% block main %}
    {%- if debug.enabled -%}
        <!-- Block Content -->
    {%- endif -%}
    {% block content %}
        {%- if icon -%}
            {%- if debug.enabled -%}
                <!-- Block Icon -->
            {%- endif -%}
            {% block icon %}
                {{ icon.render()|raw }}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Icon -->
            {%- endif -%}
        {%- endif -%}

    {% endblock %}
    {%- if debug.enabled -%}
        <!-- End Block Content -->
    {%- endif -%}
{% endblock %}

