{#
    UI Navbar Template
    Provides a sub-component for displaying ui components.
#}{% extends "html/component/base.twig" %}
{%- block main -%}
    {%- if links %}
        {%- if debug.enabled -%}
            <!-- Block Links -->
        {%- endif -%}
        {%- block links %}
            {%- for key, link in links %}
                <li id="{{ id }}-links-ui-{{ key }}" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                    {{ link.render()|raw }}
                </li>
            {%- endfor %}
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Links -->
        {%- endif -%}
    {%- endif %}
    {%- if public %}
        {%- if debug.enabled -%}
            <!-- Block Public User Ui -->
        {%- endif -%}
        {%- block public %}
            <li id="{{ id }}-public-ui" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                {{ public.render()|raw }}
            </li>
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Public User Ui -->
        {%- endif -%}
    {%- endif %}
    {%- if registered %}
        {%- if debug.enabled -%}
            <!-- Block Registered User Ui -->
        {%- endif -%}
        {%- block registered %}
            <li id="{{ id }}-registered-ui" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                {{ registered.render()|raw }}
            </li>
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Registered User Ui -->
        {%- endif -%}
    {%- endif %}
    {%- if moderator %}
        {%- if debug.enabled -%}
            <!-- Block Moderator User Ui -->
        {%- endif -%}
        {%- block moderator %}
            <li id="{{ id }}-moderator-ui" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                {{ moderator.render()|raw }}
            </li>
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Moderator User Ui -->
        {%- endif -%}
    {%- endif %}
    {%- if admin %}
        {%- if debug.enabled -%}
            <!-- Block Admin User Ui -->
        {%- endif -%}
        {%- block admin %}
            <li id="{{ id }}-admin-ui" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                {{ admin.render()|raw }}
            </li>
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Admin User Ui -->
        {%- endif -%}
    {%- endif %}
    {%- if root %}
        {%- if debug.enabled -%}
            <!-- Block Root User Ui -->
        {%- endif -%}
        {%- block root %}
            <li id="{{ id }}-root-ui" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                {{ root.render()|raw }}
            </li>
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Root User Ui -->
        {%- endif -%}
    {%- endif %}
    {%- if icons %}
        {%- if debug.enabled -%}
            <!-- Block Icons -->
        {%- endif -%}
        {%- block icons %}
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Icons -->
        {%- endif -%}
    {%- endif %}
        {%- if identity %}
    {%- if debug.enabled -%}
        <!-- Block Identity -->
    {%- endif -%}
    {%- block identity %}
    {%- endblock %}
    {%- if debug.enabled -%}
        <!-- End Block Identity -->
    {%- endif -%}
        {%- endif %}
    {%- if debugger %}
        {%- if debug.enabled -%}
            <!-- Block Debugger Ui -->
        {%- endif -%}
        {%- block debugger %}
            <!-- Debug Toggle -->
            {% block debug_toggle -%}
                <li id="{{ id }}-debugger-ui" class="nav-item dropdown no-arrow mx-0 text-gray-600 small">
                    {{ debugger.render()|raw }}
                </li>
            {%- endblock %}
            <!-- End Debug Toggle -->
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Debugger Ui -->
        {%- endif -%}
    {%- endif %}
    {%- if spillover %}
        {%- if debug.enabled -%}
            <!-- Block Spillover -->
        {%- endif -%}
        {%- block spillover %}
            {{ spillover.render()|raw }}
        {%- endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Spillover -->
        {%- endif -%}
    {%- endif %}
{%- endblock %}