{# 
    Ui Spillover
    Provides a spillover menu for ui links that don't fit into the ui bar
#}{% extends "html/component/bootstrap/ui/ui-link.twig" %}

{% block main -%}
{#    <span>ui-link</span>#}
    {{ parent() }}
{#    {%- if debug.enabled -%}
        <!-- Block Content -->
    {%- endif -%}
    {% block content %}
    {% endblock %}
    {%- if debug.enabled -%}
        <!-- End Block Content -->
    {%- endif -%}#}
<div id="{{ id }}-menu" class="dropdown-menu dropdown-menu-end shadow animated--grow-in"
    aria-labelledby="{{ id }}-menu-link">
    
</div>
{%- endblock %}

{% block icon %}<button 
        type="button"
        class="btn btn-rounded shadow-0 dropdown-toggle" 
        id="{{ id }}-menu-link" 
        role="button"
        data-bs-toggle="dropdown"
        data-bs-target="{{ id }}-menu"
        aria-haspopup="true"
        aria-expanded="false"
        >{{ parent() }}</button>
{%- endblock %}