{#
    Component Base

    This template provides the basis for components to extend from.
    The primary concern of this base component template is to provide
    standardized escaping and container attributes.
    
    Extending components only need to place their own content inside
    of the "main" block, and will otherwise utilize a standardized
    outer wrapper.
    
#}{%- autoescape 'html' -%}
<div{% if id %} id="{{ id }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if title %} title="{{ title }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}>
{%- if content %}{% block main %}
    {%- if content is container or content is iterable %}
        {%- for item in content %}
            {%- if item is component %}
                {{ item.render()|raw }}
            {% elseif item is container %}
                {% include "html/element/wrapper/base.twig" with item %}
            {% elseif item is iterable %}
                {% include "html/element/wrapper/base.twig" with item %}
            {% else %}
                {{ item }}
            {% endif -%}
        {% endfor -%}
    {% else %}
        {%- if content is component %}
            {{ content.render()|raw }}
        {% elseif content is container %}
            {% include "html/element/wrapper/base.twig" with content %}
        {% elseif content is iterable %}
            {% include "html/element/wrapper/base.twig" with content %}
        {% else %}
            {{ content }}
        {% endif -%}
    {% endif -%}
{% endblock %}{% endif -%}
</div>{%- endautoescape -%}
