{# PHP class base template
   Generates a php class
#}{% extends "php/base.twig" %}
{% block main %}
    {%- autoescape false %}
        {%- if docblock %}
            {%- block docblock %}{{ docblock.render()|raw }}{% endblock %}
        {%- endif %}
        {%- block definer -%}{% if final %}final {% elseif abstract %}abstract {% endif -%}
            class {{ name }}
            {%- if parent %} extends {{ parent }}{%- endif %}
            {%- if interfaces and interfaces is array %} implements {{ interfaces|join(', ')|raw }}{%- endif %}
        {%- endblock %}{{- '\n'|raw }}{ {{- '\n'|raw }}
        {%- if traits %}
            {%- block traits %}{{- '\n'|raw }}
                {%- include "php/class/traits.twig" with {"indent": 4} %}
            {% endblock %}
        {%- endif %}
        {%- if constants %}
            {%- block constants %}{%- if traits %}{{- '\n'|raw }}{%- endif %}
                {%- include "php/utilities/class-constants.twig" with {"indent": 4} %}
            {% endblock %}
        {%- endif %}
        {%- if properties %}
            {%- block properties %}{%- if constants %}{{- '\n'|raw }}{%- elseif traits and not constants %}{{- '\n'|raw }}{%- endif %}
                {%- include "php/utilities/class-properties.twig" with {"indent": 4} %}
            {% endblock %}
        {%- endif %}
        {%- if methods %}
            {%- block methods %}{%- if properties %}{{- '\n'|raw }}{%- elseif constants and not properties %}{{- '\n'|raw }}{%- elseif traits and not properties and not constants %}{{- '\n'|raw }}{%- endif %}
                {%- for method in methods %}{{ method.render()|indent(4) -}}{{- '\n'|raw -}}
                {%- endfor -%}
            {%- endblock -%}
        {%- endif -%}
        }
    {%- endautoescape %}
{%- endblock -%}