{# PHP class constant
   Generates a php class constant
#}{% extends "php/base.twig" %}
{% block open_tag %}{% endblock %}
{% block main %}
    {%- autoescape false %}
        {%- if docblock %}{{- '\n'|raw }}
            {%- block docblock %}{{ docblock.render()|raw }}{% endblock %}
        {%- endif %}
        {%- block content %}
            {%- if visibility %}{{ visibility }} {% endif %}const {{ name }} = {% if value is null %}null{% elseif value is same as(true) %}true{% elseif value is same as(false) %}false{% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{ value|raw }}{% else %}{{ value|raw }}{%endif%};
        {%- endblock %}
    {%- endautoescape %}
{% endblock %}
{%- block trailing_linebreak -%}{%- endblock -%}