{# PHP class method
   Generates a php class method
#}{% extends "php/function/base.twig" %}
{% block definer_arguments %}
    {%- autoescape false %}
        {%- if final %}final {% elseif abstract %}abstract {% endif %}{% if visibility %}{{ visibility }} {% endif %}{% if static %}static {% endif -%}
    {%- endautoescape %}
{% endblock %}
