{# PHP class property
   Generates a php class property/variable
#}{% extends "php/base.twig" %}
{% block open_tag %}{% endblock %}
{% block main %}
    {%- autoescape false %}
        {%- if docblock %}
            {%- block docblock %}{{ docblock.render()|raw }}{% endblock %}
        {%- endif %}
        {%- block content %}
            {%- if visibility %}{{ visibility }} {% endif %}
            {%- if static %}static {% endif %}${{ name }}
            {%- if value or value is same as (false) or value is same as (null) %} = {% if value is null %}null{% elseif value is same as(true) %}true{% elseif value is same as(false) %}false{%- elseif value is array %} [{{- '\n'|raw -}}
                    {%- for k, v in value %}    {% if k is string %}"{{ k }}" => {% endif %}{{ v }}{% if loop.last is same as (false) %},{% endif %}{{- '\n'|raw -}}
                    {%- endfor %}]{% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{ value|raw }}
                {%- else %}{{ value|raw }}{%endif%}{% endif %};
        {%- endblock %}
    {%- endautoescape %}
{% endblock %}
