{# PHP class trait includes
    Generates the trait inclusion block for a php class
#}{% autoescape false %}
{%- block main %}
    {%- for key, trait in traits %}    use {{ trait }};{{- '\n'|raw }}
    {%- endfor %}
{%- endblock %}
{% endautoescape %}
