{# Bootstrap Column #}{% extends "html/component/base.twig" %}
{% block wrapper_class %} class="col{%- if size %}-{{ size }}{% endif %}{%- if _context["size-sm"] %} col-sm-{{ _context["size-sm"] }}{% endif %}{%- if _context["size-md"] %} col-md-{{ _context["size-md"] }}{% endif %}{%- if _context["size-lg"] %} col-lg-{{ _context["size-lg"] }}{% endif %}{%- if _context["size-xl"] %} col-xl-{{ _context["size-xl"] }}{% endif %}{%- if _context["size-xxl"] %} col-xxl-{{ _context["size-xxl"] }}{% endif %}{%- if class %} {{ class }}{% endif %}"{% endblock %}
{% block main %}
    {% if content %}
        {%- if debug.enabled -%}
            <!-- Block Content -->
        {%- endif -%}
        {% block content %}{% include "html/utilities/content.twig"%}{% endblock %}
        {%- if debug.enabled -%}
            <!-- End Content -->
        {%- endif -%}
    {% endif %}
{% endblock %}