{# Bootstrap Container #}{% extends "html/component/base.twig" %}
{% block wrapper_class %} class="container{% if fluid %}-fluid{% endif %}{%- if class %} {{ class }}{% endif %}"{% endblock %}
{% block main %}
    {% if content %}
        {%- if debug.enabled -%}
            <!-- Block Content -->
        {%- endif -%}
        {% block content %}{% include "html/utilities/content.twig"%}{% endblock %}
        {%- if debug.enabled -%}
            <!-- End Content -->
        {%- endif -%}
    {% endif %}
{% endblock %}