{# 
    Twig Document Head Template
#}<head>
    <meta charset="{{ charset }}">
    <meta name="viewport" content="{{ viewport }}">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <title>{{ title }}</title>
    {% if preconnect is defined %}
        {%- if debug.enabled -%}
            <!-- Preconnect -->
        {%- endif -%}
        {% include 'html/page/head/prefetch.twig' with { "tags": preconnect } %}
        {%- if debug.enabled -%}
            <!-- End Preconnect -->
        {%- endif -%}
    {% endif %}
    {% if prefetch is defined %}
        {%- if debug.enabled -%}
            <!-- Prefetch -->
        {%- endif -%}
        {% include 'html/page/head/prefetch.twig' with { "tags": prefetch } %}
        {%- if debug.enabled -%}
            <!-- End Prefetch -->
        {%- endif -%}
    {% endif %}
    {% if preload is defined %}
        {%- if debug.enabled -%}
            <!-- Preload -->
        {%- endif -%}
        {% include 'html/page/head/prefetch.twig' with { "tags": preload } %}
        {%- if debug.enabled -%}
            <!-- End Preload -->
        {%- endif -%}
    {% endif %}
    {% if meta is defined %}
        {%- if debug.enabled -%}
            <!-- Meta -->
        {%- endif -%}
        {% include 'html/page/head/meta.twig' with { "meta": meta } %}
        {%- if debug.enabled -%}
            <!-- End Meta -->
        {%- endif -%}
    {% endif %}
    {% if stylesheet is defined %}
        {%- if debug.enabled -%}
            <!-- Stylesheets -->
        {%- endif -%}
        {% include 'html/page/head/styles.twig' with { "styles": stylesheet } %}
        {%- if debug.enabled -%}
            <!-- End Stylesheets -->
        {%- endif -%}
    {% endif %}
    {% if data is defined %}
        {%- if debug.enabled -%}
            <!-- Page Data -->
        {%- endif -%}
        {% include 'html/page/head/pagedata.twig' with { "data": data} %}
        {%- if debug.enabled -%}
            <!-- End Page Data -->
        {%- endif -%}
    {% endif %}
    {% if scripts is defined %}
        {%- if debug.enabled -%}
            <!-- Head Scripts -->
        {%- endif -%}
        {% include 'html/page/head/scripts.twig' with { "scripts": script } %}
        {%- if debug.enabled -%}
            <!-- End Head Scripts -->
        {%- endif -%}
    {% endif %}
</head>