{# 
    Page Data
    Enters the page data into the head of the document for scripts to access.
#}{% autoescape false %}{% block main -%}
<script type="application/javascript">
// <![CDATA[
    window.page_data = {{ data }};
// ]]>
</script>
{%- endblock %}{% endautoescape %}