{# 
    Prefetch Template
    Adds preconnect, prefetch, and preload links to insure assets
    are compiled as fast as possible on the client.
#}
{% for tag in tags %}
    {{ tag|raw }}
{% endfor %}

