{# 
    Stylesheet Template
    Adds any stylesheets required in the head of the document
#}

{#
    THE FOLLOWING WILL GET REMOVED WHEN DYNAMIC LINK INJECTION IS COMPLETED
#}

{% for style in styles %}
    {{ style|raw }}
{% endfor %}