{#
    Link Template
    Provides a template for simple links
#}<a href="{% if href %}{{ href }}{% else %}#{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if title %} title="{{ title }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}>
    {%- if icon or image or content %}<span class="link-display-wrapper d-flex{%- if display and display == 'row' %} flex-row align-items-center{% elseif display and display == "column" %} flex-column{% endif %}">
        {%- if icon is component %}{{ icon.render()|raw -}}
        {%- elseif icon is array or icon is container %}{% include "html/element/icon/icon.twig" with icon -%}
        {%- elseif icon %}<span class="component-wrapper d-flex"><i class="{{ icon }}"></i></span>{% endif -%}
        {%- if image %}<span class="image-wrapper d-flex">{% include "html/element/image/image.twig" with image %}</span>{% endif -%}
        {%- if content %}<span class="content-wrapper d-flex">{{ content|raw }}</span>{% endif -%}
    </span>{% endif -%}
</a>
