{# PHP trait base template
   Generates a php trait
#}{% extends "php/class/base.twig" %}
{%- block definer %}{%- autoescape false %}trait {{ name }}{%- endautoescape %}{%- endblock %}
{%- block constants %}{% endblock %}