{#
    Layout Default Footer
    Provides a responsive footer container component.
#}{%- autoescape 'html' -%}<footer{% if id %} id="{{ id }}"{% endif %} class="col-12 mt-2{% if class %} {{ class }}{% endif %}"{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}>
    {%- if content -%}{%- block main -%}<div class="container-fluid">{%- block header -%}{%- endblock -%}
        {%- block content -%}<div class="row px-0 mx-0">{%- for key, value in content -%}
                {{- value|raw -}}
        {%- endfor -%}</div>{%- endblock -%}{%- block footer -%}{%- endblock -%}
        </div>
    {%- endblock -%}{%- endif -%}
</footer>{%- endautoescape -%}