{#
    Frontend Page Header
#}
<header class="container-fluid mx-0 px-0 mb-2">
    {% block header %}
        <div class="row px-0 mx-0">
            <div class="col-12 px-0 mx-0">
                {% include 'html/component/navigation/primary.twig' with {"navigation": navigation.primary} %}
            </div>
        </div>
    {% endblock %}
</header>