{#
    Missing Layout Template
    This template is included if a layout is not provided for the page.
#}{% block main -%}
    <div class="col-12">
        <h1>No Layout Provided</h1>
        <p>The rendered page failed to provide a layout containing the page.</p>
    </div>
{%- endblock  -%}
