{# 
    Alert Notification
    Provides an OSX style alert that floats in the top right of the screen
    to quickly notify a user of important information
#}{% extends "html/component/base.twig" %}{% block main %}{% endblock %}
