{# 
    Banner Notification
    Provides a banner notification that fixes to the top or bottom of the screen
    to display more persistent information or announcements that are not event driven
#}{% extends "html/component/base.twig" -%}{% block main -%}
    <div class="d-flex flex-row align-items-center w-100">
        {%- if icon %}
            <div class="d-flex pr-3"><i class="{{ icon }}"></i></div>
            {% endif -%}
        <div class="d-flex">
            {%- if content is component %}
                {{ content.render()|raw }}
            {% elseif content is container %}
                {% include "html/element/wrapper/base.twig" with content %}
            {% elseif content is iterable %}
                {% include "html/element/wrapper/base.twig" with content %}
            {% else %}
                {{ content|raw }}
            {% endif -%}
        </div>
        {%- if dismissable %}
            <div class="ml-auto d-flex align-items-center px-2" data-context="notification-dissmiss" data-category="notifications"{% if id %} data-parent="{{ id }}"{% endif %} title="Click to dismiss this notification"><i class="fas fa-times"></i></div>
            {% endif -%}
    </div>
{% endblock %}
