{#
    Header Component
    Provides a responsive header container component.
#}{%extends "html/component/base.twig" %}
{% block open_tag %}header{% endblock %}
{% block close_tag %}header{% endblock %}
{% block wrapper_class %} class="header container-fluid mx-0 px-0 w-100{%- if class %} {{ class }}{% endif %}"{% endblock %}
{%- block main -%}
    {% if content %}
        <div class="row px-0 mx-0 w-100">
            {%- for key, value in content %}
                {{- value|raw -}}
            {% endfor %}
        </div>
    {% endif %}
{%- endblock %}