{#
    Default Dashboard Page Layout
    
    This is the default login dashboard page layout.
#}{% extends "html/layout/base.twig" %}{% block main %}
    {%- block header -%}
        {{ header.render()|raw }}
    {%- endblock -%}
    {%- block primary %}
        {%- if debug.enabled -%}
            <!-- Page Wrapper -->
        {%- endif -%}
        <div id="wrapper">
            {% block sidebar -%}
                {%- if debug.enabled -%}
                    <!-- Sidebar -->
                {%- endif -%}
                {%- if sidebar %}{{ sidebar.render()|raw }}{% endif -%}
                {%- if debug.enabled -%}
                    <!-- End Sidebar -->
                {%- endif -%}
            {%- endblock %}
            {% block content -%}
                {%- if debug.enabled -%}
                    <!-- Dashboard Content -->
                {%- endif -%}
                {%- include "html/layout/dashboard/content/content-wrapper.twig" -%}
                {%- if debug.enabled -%}
                    <!-- End Dashboard Content -->
                {%- endif -%}
            {%- endblock %}
        </div>
        {%- if debug.enabled -%}
            <!-- End of Page Wrapper -->
        {%- endif -%}
        {% block ui -%}
            {%- if debug.enabled -%}
                <!-- UI -->
            {%- endif -%}
            {%- if ui %}
                {{ ui.render()|raw }}
                {%- include "html/component/dashboard/ui/scrolltop/scrolltop.twig" -%}
            {% endif -%}
            {%- if debug.enabled -%}
                <!-- End UI -->
            {%- endif -%}
        {%- endblock %}
    {% endblock %}
{% endblock %}