{#
    Default Dashboard Page Layout
    
    This is the default login dashboard page layout.
#}{% extends "html/layout/dashboard/default.twig" %}
{% block content -%}
    {%- if debug.enabled -%}
        <!-- Dashboard Error Content -->
    {%- endif -%}
    {%- include "html/layout/dashboard/content/error-content-wrapper.twig" -%}
    {%- if debug.enabled -%}
        <!-- End Dashboard Error Content -->
    {%- endif -%}
{%- endblock %}