{#
    Navbar UI Template
    Provides a sub-component for displaying ui components that live in the navbar.
#}{% extends "html/component/bootstrap/ui/ui-navbar.twig" %}

{%- block main -%}{{ parent() }}{%- endblock -%}
