{#
    Navbar Component
    Provides a responsive navbar container component.
#}{% extends "html/component/base.twig" %}{% block main -%}
    <nav class="navbar navbar-expand-lg d-flex flex-row align-items-center h-100 navbar-light bg-light">
        {% if menu %}
            {%- if debug.enabled -%}
                <!-- Block Nav Control -->
            {%- endif -%}
            {% block nav_control %}
                <button class="navbar-toggler py-2 ps-4 text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-menu-collapse" aria-controls="{{ id }}-menu-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Nav Control -->
            {%- endif -%}
        {% endif %}
        {%- if brand -%}
            {%- if debug.enabled -%}
                <!-- Block Branding -->
            {%- endif -%}
            {%- block branding -%}
                {%- include "html/component/bootstrap/navbar/navbar-brand.twig"
            with {
                    "id": id ~ "-branding",
                    "class": "navbar-brand py-2 me-auto me-md-0",
                    "parent": id,
                    "context": "branding",
                    "category": "navbar",
                    "component": "branding",
                    "menu": menu ? menu : false,
                    "brand": brand
                } -%}
            {%- endblock -%}
            {%- if debug.enabled -%}
                <!-- End Block Branding -->
            {%- endif -%}
        {%- endif -%}
        {%- if menu -%}
            {%- if debug.enabled -%}
                <!-- Block Menu -->
            {%- endif -%}
            <div id="{{ id }}-menu-collapse" class="collapse navbar-collapse">
                {%- block menu -%}
                    {%- include "html/component/bootstrap/navbar/navbar-menu.twig"
            with {
                    "id": id ~ "-menu",
                    "tagname": "ul",
                    "class": "navbar-nav me-auto order-5 order-md-3",
                    "parent": id,
                    "context": "menu",
                    "category": "navbar",
                    "component": "navbar",
                    "toggle": toggle ? true : false,
                    "links": menu.links,
                } -%}
                {%- endblock -%}
            </div>
            {%- if debug.enabled -%}
                <!-- End Block Menu -->
            {%- endif -%}
        {%- endif -%}
        {%- if ui -%}
            {%- if debug.enabled -%}
                <!-- Block UI -->
            {%- endif -%}
            {%- block ui -%}
                {%- include "html/component/bootstrap/navbar/navbar-ui.twig"
            with {
                    "tagname": "ul",
                    "id": id ~ "-ui",
                    "class": "navbar-nav order-3 order-md-4 py-2 pe-2 ms-auto",
                    "parent": id,
                    "context": "menu",
                    "component": "ui",
                    "category": "navbar"
                } -%}
            {%- endblock -%}
            {%- if debug.enabled -%}
                <!-- End Block UI -->
            {%- endif -%}
        {%- endif -%}
    </nav>
    {%- if breadcrumbs -%}
        {%- if debug.enabled -%}
            <!-- Block Breadcrumbs -->
        {%- endif -%}
        {%- block breadcrumbs -%}
            {%- include "html/component/bootstrap/navbar/navbar-breadcrumbs.twig" 
            with {
                    "id": id ~ "-breadcrumbs",
                    "class": "col-12 order-10",
                    "parent": id,
                    "context": "breadcrumbs",
                    "component": "breadcrumbs",
                    "category": "navbar"
                } -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Block Breadcrumbs -->
        {%- endif -%}
    {%- endif -%}
{%- endblock %}
