{#
    Navbar Menu Template
    Provides a sub-component for nested dropdown links.
#}{% extends "html/component/base.twig" %}{% block main -%}
    {%- block nav -%}
        {#        <ul id="{{ id }}-nav" class="navbar-nav mr-auto d-flex flex-row justify-content-lg-between justify-content-lg-start">#}
        {%- for id, details in links -%}
            {%- if details.children -%}
                {% include 'html/component/bootstrap/navbar/menu/toplevel-linkset.twig' with {"id": id, "details": details, "class": "py-2"} %}
            {%- else -%}
                {% include 'html/component/bootstrap/navbar/menu/toplevel-link.twig' with {"id": id, "details": details, "class": "py-2"} %}
            {%- endif -%}
        {%- endfor -%}
        {#        </ul>#}
    {%- endblock -%}
{%- endblock %}
