{#
    Navbar Breadcrumbs Template
    Provides a sub-component for displaying breadcrumbs
    directly below the nav menu.
#}{% extends "html/component/base.twig" %}{% block main -%}

{%- endblock %}
