{#
    Navbar Brand Template
    Provides a sub-component for displaying branding,
    logo, app title, subtitle, and tagline.
#}{% extends "html/component/base.twig" %}{% block main -%}
    {%- if brand.logo -%}
        {%- block logo -%}
            {% if brand.logo is iterable and (brand.logo.default or brand.logo.xs or brand.logo.sm or brand.logo.md or brand.logo.lg or brand.logo.xl) -%}
                {% for variant in brand.logo %}
                    {%- include "html/component/bootstrap/navbar/navbar-logo.twig" with variant -%}
                {% endfor %}
            {%- else %}
                {%- include "html/component/bootstrap/navbar/navbar-logo.twig" with brand.logo -%}
            {%- endif %}
        {%- endblock -%}
    {%- endif -%}
    {%- if brand.title or brand.subtitle %}<div class="title-wrapper d-flex flex-column">{%- endif -%}
        {%- if brand.title -%}
            {%- block title -%}
                <h1 class="navbar-title flex-row h4 pb-0 mb-0 text-primary">{{- brand.title -}}</h1>
            {%- endblock -%}
        {%- endif -%}
        {%- if brand.subtitle -%}
            {%- block subtitle -%}{%- if brand.title -%}<hr class="mt-1 mb-2">{%- endif -%}
                <sub class="navbar-subtitle flex-row text-primary">{{- brand.subtitle -}}</sub>
            {%- endblock -%}
        {%- endif -%}
        {%- if brand.title or brand.subtitle %}</div>{% endif -%}
    {%- endblock %}
