{#
    Navbar UI Template
    Provides a sub-component for displaying ui components that live in the navbar.
#}{% extends "html/component/base.twig" %}{% block main -%}
    {%- if button %}
        {%- if debug.enabled -%}
            <!-- Block Button -->
        {%- endif -%}
        {%- block button %}
            {%- if _context['ui-target'] %}
                <button class="btn shadow-0 px-2 {%- if _context['ui-target'].class %} {{ _context['ui-target'].class }}{% endif %}"
                        {%- if _context['ui-target'].target %} data-bs-target="{{ _context['ui-target'].target }}"{% endif %}
                        {%- if _context['ui-target'].id %} id="{{ _context['ui-target'].id }}"{% endif %} role="
                        {%- if _context['ui-target'].role %}{{ _context['ui-target'].role }}{% else %}button{% endif %}"
                        {%- if _context['ui-target'].target %} data-bs-toggle="{%- if _context['ui-target'].toggle %}{{ _context['ui-target'].toggle }}{% else %}collapse{% endif %}" aria-expanded="
                            {%- if link.expanded %}true{% else %}false{% endif %}"
                        {%- endif %}
                        {%- if _context['ui-target'].target %} aria-controls="{{ _context['ui-target'].target|trim('#', 'left') }}"{%- endif -%}>
                {%- else %}
                    <span class="btn shadow-0 px-2" role="button">
                    {%- endif %}
                    {%- if debug.enabled -%}
                        <!-- Block Icon -->
                    {%- endif -%}
                    {%- block icon %}
                        {{ icon.render()|raw }}
                    {%- endblock %}
                    {%- if debug.enabled -%}
                        <!-- End Block Icon -->
                    {%- endif -%}
                    {%- if _context['ui-target'] %}
                </button>
            {%- else %}
            </span>
        {%- endif %}
        {%- if content -%}
            {%- if debug.enabled -%}
                <!-- Block Content -->
            {%- endif -%}
            {%- block content %}{%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Content -->
            {%- endif -%}
        {%- endif -%}
        {%- if form -%}
            {%- if debug.enabled -%}
                <!-- Block Form -->
            {%- endif -%}
            {%- block form %}{%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Form -->
            {%- endif -%}
        {%- endif -%}
        {%- if menu -%}
            {%- if debug.enabled -%}
                <!-- Block Menu -->
            {%- endif -%}
            {%- block menu %}{{ menu.render()| raw }}{%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Menu -->
            {%- endif -%}
        {%- endif -%}
    {%- endblock %}
    {%- if debug.enabled -%}
        <!-- End Block Button -->
    {%- endif -%}
{%- endif %}
{%- endblock %}
