{#
    Navbar Vertical Menu Template
    Provides a sub-component for vertical nested dropdown links.
#}{% block main -%}
    {%- if toggle %}{%- block nav_control -%}
            <button id="{{ id }}-nav-toggle" class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-nav" aria-controls="{{ id }}-nav" aria-expanded="false" aria-label="Toggle navigation"><span class="{% if toggle_icon %}{{ toggle_icon }}{% else %}navbar-toggler-icon{% endif %}"></span></button>
            {%- endblock -%}
        <div class="collapse navbar-collapse w-auto w-lg-100" id="{{ id }}-nav">{% endif -%}
            {%- block nav -%}
                <ul class="navbar-nav flex-column w-auto w-lg-100">
                    {%- for id, details in links -%}
                        {%- if details.children -%}
                            {% include 'html/component/bootstrap/navbar/menu/vertical-toplevel-linkset.twig' with {"id": id, "details": details} %}
                        {%- else -%}
                            {% include 'html/component/bootstrap/navbar/menu/vertical-toplevel-link.twig' with {"id": id, "details": details} %}
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            {%- endblock -%}
            {%- if toggle %}</div>{% endif -%}
            {%- endblock %}
