{#
    Primary Navbar
    Provides a responsive navbar container component for the primary navigation.
#}{% extends "html/component/base.twig" %}{% block main -%}
    <nav id="{{ id }}-nav" class="primary-navigation navbar navbar-expand-lg d-flex flex-row align-items-center h-100 navbar-light bg-light">
        {%- if brand -%}
            {%- if debug.enabled -%}
                <!-- Block Branding -->
            {%- endif -%}
            {%- block branding -%}
                {%- include "html/component/bootstrap/navbar/navbar-brand.twig"
            with {
                    "id": id ~ "-branding",
                    "class": "navbar-brand py-2 me-md-0 order-1",
                    "parent": id,
                    "context": "branding",
                    "category": "navbar",
                    "component": "branding",
                    "menu": menu ? menu : false,
                    "brand": brand
                } -%}
            {%- endblock -%}
            {%- if debug.enabled -%}
                <!-- End Block Branding -->
            {%- endif -%}
        {%- endif -%}
        {%- if menu -%}
            {%- if debug.enabled -%}
                <!-- Block Nav Control -->
            {%- endif -%}
            {% block nav_control %}
                <button class="navbar-toggler py-2 ps-4 text-muted order-2 me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-menu-collapse" aria-controls="{{ id }}-menu-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Nav Control -->
            {%- endif -%}
            {%- if debug.enabled -%}
                <!-- Block Menu -->
            {%- endif -%}
            <div id="{{ id }}-menu-collapse" class="collapse navbar-collapse order-4 order-md-3">
                {%- block menu -%}
                    {%- if menu is component %}
                        {{ menu.render()|raw }}
                    {%- else %}
                        {%- include "html/component/bootstrap/navbar/navbar-menu.twig"
            with {
                    "id": id ~ "-menu",
                    "tagname": "ul",
                    "class": "navbar-nav me-auto",
                    "parent": id,
                    "context": "menu",
                    "category": "navbar",
                    "component": "navbar",
                    "toggle": toggle ? true : false,
                    "links": menu.links,
                } -%}
                    {%- endif %}
                {%- endblock -%}
            </div>
            {%- if debug.enabled -%}
                <!-- End Block Menu -->
            {%- endif -%}
        {%- endif -%}
        {%- if ui -%}
            {%- if debug.enabled -%}
                <!-- Block UI -->
            {%- endif -%}
            {%- block ui -%}
                {%- if ui is component %}
                    <ul class="navbar-ui navbar-nav pe-2 ms-auto order-4 order-md-3 ms-auto">
                        {{ ui.render()|raw }}
                    </ul>
                {%- else %}
                    {%- include "html/component/bootstrap/navbar/navbar-ui.twig"
            with {
                    "tagname": "ul",
                    "id": id ~ "-ui",
                    "class": "navbar-ui navbar-nav pe-2 ms-auto order-4 order-md-3 ms-auto",
                    "parent": id,
                    "context": "menu",
                    "component": "ui",
                    "category": "navbar"
                } -%}
                {%- endif %}
            {%- endblock -%}
            {%- if debug.enabled -%}
                <!-- End Block UI -->
            {%- endif -%}
        {%- endif -%}
    </nav>
    {%- if breadcrumbs -%}
        {%- if debug.enabled -%}
            <!-- Block Breadcrumbs -->
        {%- endif -%}
        {%- block breadcrumbs -%}
            {%- include "html/component/bootstrap/navbar/navbar-breadcrumbs.twig" 
            with {
                    "id": id ~ "-breadcrumbs",
                    "class": "col-12 order-10",
                    "parent": id,
                    "context": "breadcrumbs",
                    "component": "breadcrumbs",
                    "category": "navbar"
                } -%}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Block Breadcrumbs -->
        {%- endif -%}
    {%- endif -%}
{%- endblock %}
