{#
    Vertical Navbar Component
    Provides a responsive vertical navbar container component.
#}{% block main -%}
    {% if toggle %}<span class="navbar-toggle-wrapper navbar-toggle-wrapper-fixed waves-effect waves-light" role="button" data-bs-toggle="collapse-left" data-bs-target="{{ id }}" aria-expanded="false"aria-controls="{{ id }}">
            <i class="fas fa-bars"></i>
        </span>{% endif %}
        <nav id="{{ id }}" class="navbar{%if toggle %} navbar-toggle collapse-left show{% endif %}">
            {%- if brand -%}
                {%- block branding -%}
                    {%- include "html/component/bootstrap/navbar/navbar-brand.twig"
            with {
                    "id": id ~ "-branding",
                    "class": "navbar-brand d-flex w-auto w-lg-100",
                    "parent": id,
                    "context": "branding",
                    "category": "navbar",
                    "brand": brand
                } -%}
                {%- endblock -%}{%- if ui or menu -%}<hr class="nav-separator brand-separator" />{% endif %}
            {%- endif -%}
            {%- if ui -%}
                {%- block ui -%}
                    {%- include "html/component/bootstrap/navbar/navbar-ui.twig"
            with {
                    "id": id ~ "-ui",
                    "class": "d-flex w-auto w-lg-100",
                    "parent": id,
                    "context": "menu",
                    "category": "navbar"
                } -%}
                {%- endblock -%}{%- if ui -%}<hr class="nav-separator ui-separator" />{% endif %}
            {%- endif -%}
            {%- if menu -%}
                {%- block menu -%}
                    {%- include "html/component/bootstrap/navbar/navbar-vertical-menu.twig"
            with {
                    "id": id ~ "-menu",
                    "class": "d-flex w-auto w-lg-100",
                    "parent": id,
                    "context": "menu",
                    "category": "navbar",
                    "links": menu.links
                } -%}
                {%- endblock -%}
            {%- endif -%}
        </nav>
        {%- endblock %}
