{#
    Default Form Component
    Provides an html form component.
#}{%- extends 'html/component/base.twig' -%}
{% block wrapper_attributes %}
    {%- if name %} name="{{ name }}"{% endif %}
    {%- if _context['accept-charset'] %} accept-charset="{{ _context['accept-charset'] }}"{% endif %}
    {%- if action %} action="{{ action }}"{% endif %}
    {%- if method %} method="{{ method }}"{% endif %}
    {%- if autocomplete %} autocomplete="{{ autocomplete }}"{% endif %}
    {%- if enctype %} enctype="{{ enctype }}"{% endif %}
    {%- if novalidate %} novalidate="{{ novalidate }}"{% endif %}
    {%- if rel %} rel="{{ rel }}"{% endif %}
    {%- if target %} target="{{ target }}"{% endif %}
    {{- parent() }}
{%- endblock %}

{% block main -%}
    {{ parent() }}
{%- endblock -%}