{#
    Default Form Field Component
    Provides an html form field component.
#}{%- extends 'html/component/base.twig' -%}
{% block wrapper_attributes %}
    {%- block form %}{%- if form %} form="{{ form }}"{% endif %}{%- endblock %}
    {%- block name %}{%- if name %} name="{{ name }}"{% if dirname %} dirname="{{ name }}.dir"{% endif %}{% endif %}{%- endblock %}
    {%- block value %}{%- if value %} value="{{ value }}"{% endif %}{%- endblock %}
    {%- block wrap %}{%- if wrap %} wrap="{{ wrap }}"{% endif %}{%- endblock %}
    {%- block maxlength %}{%- if maxlength %} maxlength="{{ maxlength }}"{% endif %}{%- endblock %}
    {%- block placeholder %}{%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}{%- endblock %}
    {%- block alt %}{%- if alt %} alt="{{ alt }}"{% endif %}{%- endblock %}
    {%- block formaction %}{%- if formaction %} formaction="{{ formaction }}"{% endif %}{%- endblock %}
    {%- block formenctype %}{%- if formenctype %} formenctype="{{ formenctype }}"{% endif %}{%- endblock %}
    {%- block formmethod %}{%- if formmethod %} formmethod="{{ formmethod }}"{% endif %}{%- endblock %}
    {%- block formnovalidate %}{%- if formnovalidate %} formnovalidate="formnovalidate"{% endif %}{%- endblock %}
    {%- block formtarget %}{%- if formtarget %} formtarget="{{ formtarget }}"{% endif %}{%- endblock %}
    {%- block list %}{%- if list %} list="{{ list }}"{% endif %}{%- endblock %}
    {%- block max %}{%- if max %} max="{{ max }}"{% endif %}{%- endblock %}
    {%- block min %}{%- if min %} min="{{ min }}"{% endif %}{%- endblock %}
    {%- block maxlength %}{%- if maxlength %} maxlength="{{ maxlength }}"{% endif %}{%- endblock %}
    {%- block minlength %}{%- if minlength %} minlength="{{ minlength }}"{% endif %}{%- endblock %}
    {%- block pattern %}{%- if pattern %} pattern="{{ pattern }}"{% endif %}{%- endblock %}
    {%- block placeholder %}{%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}{%- endblock %}
    {%- block size %}{%- if size %} size="{{ size }}"{% endif %}{%- endblock %}
    {%- block src %}{%- if src %} src="{{ src }}"{% endif %}{%- endblock %}
    {%- block step %}{%- if step %} step="{{ step }}"{% endif %}{%- endblock %}
    {%- block width %}{%- if width %} width="{{ width }}"{% endif %}{%- endblock %}
    {%- block multiple %}{%- if multiple %} multiple{% endif %}{%- endblock %}
    {%- block checked %}{%- if checked %} checked{% endif %}{%- endblock %}
    {%- block autofocus %}{%- if autofocus %} autofocus{% endif %}{%- endblock %}
    {%- block autocomplete %}{%- if autocomplete %} autocomplete{% endif %}{%- endblock %}
    {%- block required %}{%- if required %} required{% endif %}{%- endblock %}
    {%- block readonly %}{%- if readonly %} readonly{% endif %}{%- endblock %}
    {%- block disabled %}{%- if disabled %} disabled{% endif %}{%- endblock %}
    {{- parent() }}
{% endblock %}
{% block main -%}
    {%- block content %}{%- endblock %}
    {%- if label %}
        {%- block label %}
            {{- label.render()|raw }}
        {%- endblock %}
    {% endif %}
{%- endblock -%}