{#
    Default Form Textarea Component
    Provides an html form textarea component.
#}{%- extends 'html/component/form/form-field.twig' -%}
{% block wrapper_attributes %}{{ parent() }}{% endblock %}

{% block value %}{% endblock %}
{% block content %}{% if value %}{{ value }}{% endif %}{% endblock %}
