{#
    Default Form Label Component
    Provides an html form label component.
#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    {% for key, section in content -%}
        {%- if section is component %}
            {{ section.render()|raw }}
        {% else %}
            {{ section }}
        {% endif -%}
    {% endfor -%}
{%- endblock -%}