{#
    Default Form Fieldset Component
    Provides an html form fieldset component.
#}{%- extends 'html/component/base.twig' -%}
{% block wrapper_attributes %}{% if form %} form="{{ form }}"{% endif %}{% if name %} name="{{ name }}"{% endif %}{% if disabled %} disabled{% endif %}{{ parent() }}{% endblock %}

{% block main -%}
    {{ parent() }}
{%- endblock -%}