{# Oroboros Javascript Base Class Template
   Provides the base for an Oroboros javascript class declaration
#}{% extends "javascript/base.twig" %}
{% block main %}
    const oroboros = core();
    const {{ type }} = '{{ name }}';
    const abstract = oroboros.abstract('{{ type }}');
    const lib = {
        init: function () {
            // General initialization for all instances goes here
        }
    };
    {{- '\n'|raw -}}{% block class %}
    const {{ classname }} = class {{ classname }} extends abstract {
        
        static classKey()
        {
            return {{ type }};
        }
        
        {% block constructor %}
            {{- '\n'|raw }}        constructor(id, args, flags) {
            {{- '\n'|raw }}            super(id, args, flags);
            {{- '\n'|raw }}            // Instance constructor operations go here
            {{- '\n'|raw }}            {% block constructor_logic %}{% endblock %}
            {{- '\n'|raw }}        }{{- '\n'|raw -}}{% endblock %}
        {% block onReady %}
            {{- '\n'|raw }}        onReady(subject) {
            {{- '\n'|raw }}            // document-ready logic goes here
            {{- '\n'|raw }}            {% block onReady_logic_before_parent %}{% endblock %}
            {{- '\n'|raw }}            super.onReady(subject);
            {{- '\n'|raw }}{%- block onReady_logic_after_parent %}{% endblock %}
            {{- '\n'|raw }}        }{{- '\n'|raw -}}
        {% endblock %}
        {%- block onLoad %}
            {{- '\n'|raw }}        onLoad(subject) {
            {{- '\n'|raw }}            // window on-load logic goes here
            {{- '\n'|raw }}            {% block onLoad_logic_before_parent %}{% endblock %}
            {{- '\n'|raw }}            super.onLoad(subject);
            {{- '\n'|raw }}{% block onLoad_logic_after_parent %}{% endblock %}
            {{- '\n'|raw }}        }{{- '\n'|raw -}}
        {% endblock %}
        {% block classMethods %}
        {% endblock %}
        
    }{{- '\n'|raw -}}{% endblock %}
    {% block init %}lib.init();{{- '\n'|raw -}}{% endblock %}
    {% block registration %}oroboros.register('{{ type }}', {{ type }}, {{ classname }});{% endblock %}
{% endblock %}
