{# 
    Responsive Data Table
    Provides a searchable paginated inline table component
#}{% block main -%}
    {%- if responsive %}<div class="table-wrapper col-12{%- if nowrap %} text-nowrap{% endif %}">{% endif %}
        <table{% if id %} id="{{ id }}"{% endif %} class="table{% if striped %} table-striped{% endif %}{% if bordered %} table-bordered{% elseif borderless %} table-borderless{% endif %}{% if hover %} table-hover{% endif %}{% if small %} table-sm{% endif %}{% if datatable %} datatable{% endif %}"{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}>
            {% if header -%}
                {%- block header -%}
                    <thead{% if color %} class="{{ color }} {% if color != "white" %}white-text{% else %}text-dark{% endif %}"{% endif %}>
                    {%- if bulk_select %}<th><i class="fas fa-check-circle text-primary"></i></th>{% endif %}
                        {% for row in header -%}
                        <th scope="col">{% if row is component %}{{ row.render()|raw }}{% else %}{{ row }}{% endif %}</th>
                        {%- endfor %}
                    </thead>
                {%- endblock -%}
            {%- endif %}
            {% block content -%}
                <tbody>
                    {% for row in content -%}
                        <tr scope="row"{% if row.id %} id="{{ row.id }}"{% endif %}{% if row.class %} class="{{ row.class }}"{% endif %}{% if row.parent %} data-parent="{{ row.parent }}"{% endif %}{% if row.context %} data-context="{{ row.context }}"{% endif %}>
                            {%- if bulk_select %}<td class="row-selector">
                                    <div class="form-check">
                                        <input {% if row.id %} id="{{ row.id }}-selector"{% endif %} type="checkbox" class="form-check-input">
                                        {#                                        <label class="form-check-label" {% if row.id %} fpr="{{ row.id }}-selector"{% endif %}></label>#}
                                    </div>
                                </td>{% endif %}
                                {%- for cell in row.content -%}
                                    <td>{% if cell is component %}{{ cell.render()|raw }}{% else %}{{ cell }}{% endif %}</td>
                                {%- endfor %}
                            </tr>
                            {%- endfor %}
                            </tbody>
                            {%- endblock %}
                            </table>
                            {%- if responsive %}</div>{% endif %}
                            {%- endblock %}
