{#
    Default Login Page Layout
    
    This is the default login page layout.
#}{% extends "html/layout/base.twig" %}
{% block main %}
    {% if header -%}
        {%- if debug.enabled -%}
            <!-- Header -->
        {%- endif -%}
        {%- block header -%}
            {{ header.render()|raw }}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Header -->
        {%- endif -%}
    {% endif %}
    <div id="page-top" class="container-fluid d-flex flex-column flex-lg-row px-0 mx-0">
        {%- if debug.enabled -%}
            <!-- Debug -->
            {% block debug %}
                <div id="debug-content-wrapper" class="col-12 px-0 mx-0 collapse">
                    {{ debug.component.render()|raw }}
                </div>
            {% endblock %}
            <!-- End Debug -->
        {%- endif -%}
        {%  block content -%}
            {%  block validation -%}
                {%- if validation -%}
                    {%- if debug.enabled -%}
                        <!-- Validation -->
                    {%- endif -%}
                    {{ validation.render()|raw }}
                    {%- if debug.enabled -%}
                        <!-- End Validation -->
                    {%- endif -%}
                {%- endif -%}
            {% endblock -%}
            {%- if main -%}
                {%- if debug.enabled -%}
                    <!-- Content -->
                {%- endif -%}
                {{ main.render()|raw }}
                {%- if debug.enabled -%}
                    <!-- End Content -->
                {%- endif -%}
            {%- endif -%}
        {% endblock -%}
    </div>
    {%- if debug.enabled -%}
        <!-- Footer -->
    {%- endif -%}
    {%- block footer -%}
        {{ footer.render()|raw }}
    {%- endblock -%}
    {%- if debug.enabled -%}
        <!-- End Footer -->
    {%- endif -%}
{% endblock %}