{#
    User Settings Section
    Provides a responsive container for a user settings page section.
#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    <!-- Start Content Wrapper -->
    <div class="container-fluid">
        <div class="row mx-sm-4">
            {% for key, section in content -%}
                {%- if section is component %}
                    {{ section.render()|raw }}
                {% else %}
                    {{ section }}
                {% endif -%}
            {% endfor -%}
        </div>
    </div>
    <!-- End Content Wrapper -->
{%- endblock -%}