{#
    PHP Class Template
    
    Provides a template for generating a PHP class

#}
{%- autoescape false -%}
<?php
{%- if license %}

{% endif -%}
{%- if namespace %}
    
namespace {{ class.namespace }};
{% endif -%}
{%- if use %}

{% endif -%}
{%- if class.prefix %}{{ class.prefix }} {% endif -%}class {{ class.name }}{% if class.extends %} extends {{ class.extends }}{% endif %}{% if class.implements %} implements {{ class.implements }}{% endif %}
{
    {% if class.traits %}{% endif %}
    {% if class.constants %}{% endif %}
    {% if class.properties %}{% endif %}
    {% if class.methods %}{% endif %}
}
{%- endautoescape %}
