{#
    PHP Interface Template
    
    Provides a template for generating a PHP interface

#}
{%- autoescape false -%}
<?php
{%- if license %}

{% endif -%}
{%- if namespace %}
    
namespace {{ class.namespace }};
{% endif -%}
{%- if use %}

{% endif -%}
interface {{ interface.name }}{% if interface.extends %} extends{% for i in interface.extends %} {{ i }}{% if not interface.last %},{% endif %}{% endfor %}{% endif %}
{
    {% if interface.constants %}
    {% for k, v in interface.constants -%}
    const {{ k }} = {{ v }};
    {% endfor %}
    {%- endif %}
    {%- if interface.methods %}
    {% for k, v in interface.methods -%}
    {{ k }}({% if v.arguments %}{% for arg in v.arguments %}{{ arg }}{% if not v.last %}, {% endif %}{% endfor %}{% endif %}){% if v.typehint %}{{ v.typehint }}{% endif %};
    {% endfor %}
    {%- endif %}
}
{%- endautoescape %}
