{# 
    Help Text
    Provides a useful snippet of help text, with the option to link to
    an expanded help page in a dedicated documentation section of the site
#}{% extends "html/component/base.twig" %}{% block main %}{% endblock %}
