{#
    User Settings
    Provides a responsive container for user settings pages.
#}{%- extends 'html/component/bootstrap/card/card.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}
{%- block header -%}{{ parent() }}{%- endblock -%}
{%- block image -%}{{ parent() }}{%- endblock -%}
{%- block content -%}
    <div class="card-content card-body">
        <div class="container-fluid">
            <div class="row">
                {%- if title -%}
                    {%- block title %}
                        <div class="col-12 col-md-9 col-lg-10 order-1 order-md-2">
                            {{- title.render()|raw }}
                        </div>
                    {%- endblock %}
                {%- endif -%}
                {%- if menu -%}
                    {%- block menu %}
                        <div class="col-12 col-md-3 col-lg-2 order-2 order-md-1">
                            {{- menu.render()|raw }}
                        </div>
                    {%- endblock %}
                {%- endif -%}
                {%- if sections -%}
                    {%- block sections %}
                        <div class="col-12 col-md-9 col-lg-10 order-2">
                            {%- for key, section in sections %}
                                {{- section.render()|raw }}
                            {%- endfor %}
                        </div>
                    {%- endblock %}
                {%- endif -%}
{#                <div id="{{ id }}-content" class="col-12 col-md-9 col-lg-10 order-2">
                    {% if content %}
                        {%- include "html/utilities/content.twig" with {'content': content} %}
                    {%- endif -%}
                </div>#}
                {%- if button -%}
                    <a {% if button.id %}id="{{ button.id }}" {% endif %}href="{% if button.href %}{{ button.href }}{% else %}#{% endif %}" class="btn{% if button.class%} {{ button.class }}{% endif %}">{{ button.text }}</a>
                {%- endif -%}
            </div>

        </div>
    </div>
{%- endblock -%}
{%- block list -%}{{ parent() }}{%- endblock -%}
{%- block links -%}{{ parent() }}{%- endblock -%}
{%- block footer -%}{{ parent() }}{%- endblock -%}