{#
    User Settings Title
    Provides a responsive container for a user settings page menu.
#}{%- extends 'html/component/bootstrap/navigation/nav.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}