{#
    User Settings Section Title
    Provides a responsive container for a user settings section title.
#}{%- extends 'html/component/bootstrap/titlebar/titlebar.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}