{#
    User Settings Content
    Provides a responsive container for a user settings page content section.
#}{%- extends 'html/component/content/block.twig' -%}
{% block main -%}
    <p>settings content</p>
    {{- parent() -}}
{%- endblock -%}