{#
    User Settings Index
    Provides a responsive container for the user settings page index.
#}{%- extends 'html/component/user/settings-index.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}