{#
    User Settings Header
    Provides a responsive container for a user settings page header.
#}{%- extends 'html/component/bootstrap/user/profile/header.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}