{#
    User Settings Title
    Provides a responsive container for a user settings page form.
#}{%- extends 'html/component/user/settings-form.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}