{#
    User Settings Section
    Provides a responsive container for a user settings page section.
#}{%- extends 'html/component/user/settings-section.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}