{#
    User Settings Title
    Provides a responsive container for a user settings page title.
#}{%- extends 'html/component/bootstrap/titlebar/titlebar.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}