{#
    User Settings Footer
    Provides a responsive container for a user settings page footer.
#}{%- extends 'html/component/user/settings-footer.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}