{# Content Aggregator
    Aggregates content recursively
#}{%- block main -%}
    {% if content is component -%}
        {% block component -%}
            {{ content.render()|raw }}
        {% endblock -%}
    {% elseif content is array -%}
        {% block iterable -%}
            {% for key, section in content -%}
                {% include "html/utilities/content.twig" with {"key": key, "content": section} %}
            {% endfor -%}
        {% endblock -%}
    {% else -%}
        {% block stringable -%}
            {{ content }}
        {% endblock -%}
    {% endif -%}
{%- endblock -%}
