{#
    Form Component
    Provides a responsive header container component.
#}{%- autoescape 'html' -%}<fieldset{% if id %} id="{{ id }}-fieldset"{% endif %} class="container-fluid mx-0 px-0{% if class %} {{ class }}{% endif %}"{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}>
        <form{% if id %} id="{{ id }}"{% endif %}{% if name %} name="{{ name }}"{% endif %}{% if method %} method="{{ method }}"{% endif %}{% if action %} action="{{ action }}"{% endif %}>
            {% if content or fields or groups %}{% block main %}
                    {%- if content %}
                        <div class="row px-0 mx-0">{% for key, value in content %}
                            <div class="col-12 px-0 mx-0">
                                {{- value|raw -}}
                            </div>
                            {% endfor %}</div>
                                {%- endif -%}
                                    {%- if bulk.before %}
                                        {%- include "html/component/form/form-group.twig" with bulk.before -%}
                                    {%- endif -%}
                                    {%- if bulk.after %}
                                        {%- include "html/component/form/form-group.twig" with bulk.before -%}
                                    {%- endif -%}
                                    {%- if table %}
                                    {%- endif -%}
                                    {%- if groups %}
                                        {% for key, details in groups %}
                                            {%- include "html/component/form/form-group.twig" with details -%}
                                        {% endfor -%}
                                    {%- endif -%}
                                    {% endblock %}{% endif -%}
                                    </form>
                                </fieldset>{%- endautoescape -%}
