{#
    Default Form Fieldset Component
    Provides an html form fieldset component.
#}{%- extends 'html/component/form/form-fieldset.twig' -%}
{% block main -%}
    {% if content or fields %}
        {%- if content %}
            <div class="container-fluid d-flex flex-row">
                {% for key, value in content %}
                    {% if value is component %}
                        {{- value.render()|raw -}}
                    {% else %}
                        {{- value|raw -}}
                    {% endif %}
                {% endfor %}
            </div>
        {%- endif -%}
        {%- if fields %}
            {% block fields %}
                {% for key, details in fields %}
                    {%- if not details.id %}
                        {%- set details = details|merge({'id': id }) -%}
                    {% endif -%}
                    {%- include ["html/component/form/fields/" ~ details.type  ~ ".twig", "html/component/form/fields/input.twig"] with details -%}
                {% endfor %}
            {%- endblock %}
        {%- endif -%}
    {% endif -%}
    {{ parent() }}
{%- endblock -%}