{# 
    Form Wizard
    Provides a responsive container for multi-section forms
#}{% extends "html/component/base.twig" %}
{%- block main -%}
    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist" data-component="form-wizard-ui">
                {%- set first_section= sections|first -%}
                {%- set last_section= sections|last -%}
                {% for section in sections -%}
                    {%- if section == first_section -%}{% set is_first_section = true %}{% else %}{% set is_first_section = false %}{%- endif -%}
                    {%- if section == last_section -%}{% set is_last_section = true %}{% else %}{% set is_last_section = false %}{%- endif -%}
                    <li role="presentation" class="{% if is_first_section == true %}active{% endif %}">
                        <a href="#{{ section.id }}" data-bs-toggle="tab" aria-controls="{{ section.id }}" role="tab" {% if section.title %}title="{{ section.title }}"{% endif %}>
                            <span class="round-tab">
                                <i class="{% if section.icon %}{{ section.icon }}{% else %}fas fa-file-alt{% endif %}"></i>
                            </span>
                        </a>
                    </li>
                    {%- set is_first_section = false -%}
                {%- endfor %}
            </ul>
        </div>
        <form role="form"{% if id %} id="{{ id }}"{% endif %} class="wizard-form"{% if name %} name="{{ name }}"{% endif %}{% if method %} method="{{ method }}"{% endif %}{% if action %} action="{{ action }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="form-wizard-form"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}>
            <div class="tab-content">
                {% for section in sections -%}
                    {%- if section == first_section -%}{% set is_first_section = true %}{% else %}{% set is_first_section = false %}{%- endif -%}
                    {%- if section == last_section -%}{% set is_last_section = true %}{% else %}{% set is_last_section = false %}{%- endif -%}
                    <fieldset id="{{ section.id }}" class="tab-pane {% if is_first_section == true %}active{% else %}{% endif %}" role="tabpanel" data-component="form-wizard-section">
                        <div class="tab-nav container-fluid">
                            <ul class="tab-nav-ui list-inline d-flex flex-row row ml-auto">
                                {% if is_first_section != true %}<li><button type="button" class="btn btn-default prev-step">Previous</button></li>{% endif %}
                                {% if section.required == false %}<li><button type="button" class="btn btn-default skip-step">Skip</button></li>{% endif %}
                                {% if is_last_section != true %}<li><button type="button" class="btn btn-primary btn-info-full next-step">Next</button></li>{% endif %}
                            </ul>
                        </div>
                        {%- if section.title %}<div class="tab-heading container-fluid">
                                <div class="row">
                                    <h3>{{ section.title }}</h3>
                                </div>
                            </div>{% endif -%}
                            {%- if section.content or section.fields %}<div class="tab-content container-fluid">
                                    {%- if section.content %}<p>This is step 1</p>{% endif %}
                                    {%- if section.fields %}{% include "html/component/bootstrap/form/wizard-form-group.twig" with section %}{% endif %}
                                </div>{% endif -%}
                                <div class="tab-nav container-fluid">
                                    <ul class="tab-nav-ui list-inline d-flex flex-row row ml-auto">
                                        {% if is_first_section != true %}<li><button type="button" class="btn btn-default prev-step">Previous</button></li>{% endif %}
                                        {% if section.required == false %}<li><button type="button" class="btn btn-default skip-step">Skip</button></li>{% endif %}
                                        {% if is_last_section != true %}<li><button type="button" class="btn btn-primary btn-info-full next-step">Next</button></li>{% endif %}
                                    </ul>
                                </div>
                            </fieldset>
                            {%- set is_first_section = false -%}
                            {%- endfor %}
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    {%- endblock %}
