{#
    Wizard Form Group Component
    Provides a responsive form field container for groups of fields.
#}{%- autoescape 'html' -%}<div{% if id %} id="{{ id }}"{% endif %} class="form-group row {% if hidden %} d-none{% else %} d-flex flex-row row{% endif %}{% if class %} {{ class }}{% endif %}"{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if hidden %} hidden{% endif %}>
        {% if content or fields %}{% block main %}
                {%- if content %}
                    {% for key, value in content %}
                        {% if value is component %}
                            {{- value.render()|raw -}}
                        {% else %}
                            {{- value|raw -}}
                        {% endif %}
                    {% endfor %}
                {%- endif -%}
                {%- if fields %}{% block fields %}
                        {% for key, details in fields %}
                            {%- if not details.id %}{%- set details = details|merge({'id': id }) -%}{% endif -%}
                            {%- include ["html/component/form/fields/" ~ details.type  ~ ".twig", "html/component/form/fields/input.twig"] with details -%}
                        {% endfor %}
                    {%- endblock %}{%- endif -%}
                {% endblock %}{% endif -%}
            </div>{%- endautoescape -%}
