/* 
    Setup Sass Stylesheet
    Created on : Jan 6, 2019, 5:55:37 PM
    Author     : Brian Dayhoff
*/
/*Import MDB Assets*/
@import "vendors/mdbootstrap/free/_variables.scss";
/*Import the baseline functionality*/
@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";
@import "abstracts/_mixins.scss";

/*Import Vendor Styling*/
@import "vendors/bootstrap/bootstrap.scss";
@import "vendors/mdbootstrap/mdb.free.scss";
@import "vendors/fontawesome/fontawesome.scss";
@import "vendors/fontawesome/fontawesome.scss";
@import "vendors/fontawesome/solid.scss";

/*Import Font Definitions*/
@import "fonts/_fonts.scss";
@import "fonts/_fonts_legacy.scss";

/*Import Custom Styling*/
@import "base/_base.scss";
@import "base/_utilities.scss";
@import "base/_typography.scss";
@import "base/_effects.scss";
@import "base/_forms.scss";
@import "base/_media.scss";
@import "base/_animation.scss";
@import "layout/_base.scss";
@import "layout/_header.scss";
@import "layout/_navigation.scss";
@import "layout/_grid.scss";
@import "layout/_footer.scss";

#page-top, documentation-main-content-wrapper, #documentation-main-content-wrapper > div {
    max-height: 100%;
    overflow-y: auto;
    @include media-breakpoint-up(lg) {
        overflow-y: visible;
    }
}

#sidebar-left {
    /*background-color: $white;*/
    overflow-x: visible;


    .dropend {

        @include media-breakpoint-down(lg) {
            position: relative !important;
            width: 100%;
        }

        @include media-breakpoint-up(lg) {
            &:hover >.dropdown-menu {
                left: 100%;
                display: block;
                margin-top: 0;
                width: auto !important;
            }
        }
    }

    .topic-title h3 {
        text-align: left;
    }

    .list-group {

        .list-group-item {
            border-bottom: 0;
        }

        a {
            display: block;
        }

        .list-group {

            .list-group-item {
                @include media-breakpoint-down(lg) {
                    border-left: $list-group-border-width solid $list-group-border-color;
                    padding: 1ex 0 1ex 1em;
                }
            }
        }
    }
}
