/* 
    Main Sass Stylesheet
    Created on : Dec 7, 2018, 5:41:44 PM
    Author     : Brian Dayhoff
*/
/*Import MDB Assets*/
@import "vendors/mdbootstrap/free/_variables.scss";
/*Import the baseline functionality*/
@import "abstracts/_variables.scss";
@import "abstracts/_functions.scss";
@import "abstracts/_mixins.scss";

/*Import Vendor Styling*/
@import "vendors/bootstrap/bootstrap.scss";
@import "vendors/mdbootstrap/mdb.free.scss";
@import "vendors/fontawesome/fontawesome.scss";
@import "vendors/fontawesome/fontawesome.scss";
@import "vendors/fontawesome/solid.scss";

/*Import Font Definitions*/
@import "fonts/_fonts.scss";
@import "fonts/_fonts_legacy.scss";

/*Import Custom Styling*/
@import "base/_base.scss";
@import "base/_utilities.scss";
@import "base/_typography.scss";
@import "base/_effects.scss";
@import "base/_forms.scss";
@import "base/_media.scss";
@import "base/_animation.scss";
@import "layout/_base.scss";
@import "layout/_header.scss";
@import "layout/_navigation.scss";
@import "layout/_grid.scss";
@import "layout/_footer.scss";

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;

    > div {
        flex: 1;
    }

    header.header {
        background-color: $white;
        background-color: $gray-400;

        nav.navbar {
            padding-top: 0;
            padding-bottom: 0;

            .navbar-brand {
                padding-left: 15px;
                margin-right: 0;

                img {
                    height: 32px;
                    width: auto;
                }
            }

            .navbar-nav {
                > .nav-item {
                    white-space: nowrap;

                    > .dropdown-menu.show {

                    }
                }
            }

            .navbar-ui {

            }
        }
    }

    #page-branding {
        > nav.navbar {
            .navbar-collapse {
                height: 100%;
                > .navbar-nav {
                    height: inherit;
                    > .nav-item.dropdown {
                        > .nav-link {
                            > .dropdown-menu {
                                margin-top: 0;
                                @include media-breakpoint-up(lg) {
                                    width: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #debug-content-wrapper {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
    }

    #debug {
        height: auto;
        max-height: 75vh;

        > div.position-absolute.card {
            z-index: 1;
            height: inherit;
            max-height: inherit;

            > .card-body {
                height: inherit;
                max-height: inherit;
                overflow-y: auto;
            }
        }

        .dropdown-menu {
            z-index: 1030;
        }
    }
}