/* 
    Setup Sass Stylesheet
    Created on : Jan 6, 2019, 5:55:37 PM
    Author     : Brian Dayhoff
*/

/*Import the baseline functionality*/
@import "main.scss";

html, body {
    height: 100%;
    width: 100%;
    display: block;
    background-color: lightgray;
}

#setup {
    
    header#setup-header {
        height: 64px;
        
        img.setup-logo, img.setup-logo-min {
            height: 32px;
            width: auto;
        }
    }
    
    .navbar-brand {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .dashboard {
        margin-top: 58px;
    }
    
    .sidebar {
        position: fixed;
        height: 100%;
    }
    .sidebar-shim {
        position: relative;
        height: 100%;
    }
    
    .content {
        max-height: 100%;
        overflow-y: auto;
    }
}