{# 
    Bootstrap Viewport
    Provides responsive viewport functionality
#}{% extends "html/component/base.twig" %}
{%- block main -%}
    <div class="bg-image">
        {% block image %}{% if image %}{% include "html/element/image/image.twig" with image %}{% endif %}{% endblock %}
        <div class="viewport-outer-content-wrapper {% if mask %}mask {{ mask }}{% endif %}{% if center %} flex-center{% endif %}">
            {%- block content -%}{% if content %}
                    <div class="viewport-content-wrapper d-flex justify-content-center align-items-center h-100">
                        {% for key, value in content %}
                            {% if value is component %}{{ value.render()|raw }}{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {%- endblock -%}
        </div>
    </div>
{%- endblock -%}
