{#
    Supervisord Configuration Template
    
    Provides a template for generating a supervisord process configuration file

#}
{%- autoescape false -%}
[program:{{ program }}]
command={{ command }}
directory={{ directory }}
user={{ user }}
{% if start %}startsecs={{ start }}{% endif %}
{% if autostart %}autostart={{ autostart }}{% endif %}
{% if autorestart %}autorestart={{ autorestart }}{% endif %}
{% if environment -%}
environment =
    {% for key, value in environment %}
    {{ key }}={{ value }}{% if not loop.last %},{% endif %}
    {% endfor %}
{% endif -%}
{%- if log %}
{% if log.file %}stdout_logfile={{ log.file }}{% endif %}
{% if log.size %}logfile_maxbytes={{ log.size }}{% endif %}
{% if log.backups %}logfile_backups={{ log.backups }}{% endif %}
{%- endif %}
{%- if redirect %}
{% if redirect.error %}redirect_stderr={{ redirect.error }}{% endif %}
{%- endif %}
{%- endautoescape %}
