{# 
    User Bar
    Provides user personal menu functionality in a navbar component
#}{% extends "html/component/bootstrap/navbar/navbar-ui-button.twig" %}

{% block main %}
    {{ parent() }}
{% endblock %}

