{# 
    User Bar
    Provides user personal menu functionality in a navbar component
#}{% extends "html/component/bootstrap/navbar/navbar-ui-button.twig" %}

{% block main %}
    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Toggle Debug Information Panel">
                        {% include "html/component/dashboard/ui/debug/userbar-debug.twig" %}
                    </span>
    {{ parent() }}
{% endblock %}