{# 
    User Bar
    Provides user personal menu functionality in a navbar component
#}{% extends "html/component/bootstrap/userbar/ui/ui-button.twig" %}

{% block main %}
    {{ parent() }}
{% endblock %}
{% block identity %}
    {% block profile -%}
        <li class="nav-item dropdown no-arrow d-flex flex-row align-items-center">
            {% include "html/component/bootstrap/userbar/profile.twig" %}
        </li>
    {%- endblock %}
    {{ parent() }}
{% endblock %}
