{# PHP class constant generator
   Generates class constants for classes and interfaces
#}{% autoescape false %}
    {%- for key, constant in constants %}{{ constant.render()|raw|indent(indent) }}{{- '\n'|raw }}
    {%- endfor %}
{% endautoescape %}
