{# PHP class property generator
   Generates class properties for classes and traits
#}{% autoescape false %}
    {%- for key, property in properties %}{{ property.render()|raw|indent(indent) }}{{- '\n'|raw }}
    {%- endfor %}
{% endautoescape %}
