{# PHP Docblock Comment
    Generates a docblock comment for a php class, 
    interface, trait, function, or method
#}{% autoescape false %}
    {%- block main %}
        {%- block lead %}/**{{- '\n'|raw }}{% endblock %}
        {%- if title -%}
            {%- block title %} * {{ title }}{%- endblock %}{{- '\n'|raw }}
        {%- endif %}
        {%- if description %}
            {%- if title %} * {{- '\n'|raw }}{%- endif %}
            {%- block description %}
                {%- if description is string %} * {{ description }}{{- '\n'|raw }}
                {%- elseif description is array %}
                    {%- for line in description %} * {{ line }}{{- '\n'|raw }}{%- endfor %}
                {%- endif %}
            {%- endblock %}
        {%- endif %}
        {%- if tags %}
            {%- if description or title %} * {{- '\n'|raw }}{%- endif %}
            {%- block tags %}
                    {%- for tag in tags %} * {% if tag is component %}{{ tag.render()| raw }}{% elseif tag is string %}@{{ tag }}{{- '\n'|raw }}{% elseif tag is array %}@{{ tag|join(' ')|raw }}{{- '\n'|raw }}{%- endif %}{%- endfor %}
            {%- endblock %}
            {%- else %}
        {%- endif %}
        {%- block tail %} */{{- '\n'|raw }}{% endblock %}
    {%- endblock %}
{%- endautoescape %}