{# PHP Arguments 
    Generates arguments for a function or method
#}{%- autoescape false -%}
    {%- for expression in expressions -%}
        {{ expression.render()|raw|indent(4) -}}
    {%- endfor %}
{%- endautoescape -%}
