{# PHP Arguments 
    Generates arguments for a function or method
#}{%- autoescape false -%}
    {%- for name, argument in arguments -%}
        {%- if argument.type -%}{{ argument.type }} {% endif -%}
        ${{ name }}
        {%- if argument.default %} = {{ argument.default }}{%- endif %}
        {%- if loop.last == false  %}, {% endif%}
    {%- endfor %}
{%- endautoescape -%}
