{# PHP license header generator 
   Generates a license header for a PHP file 
#}{% autoescape false -%}
    /*
    {%- block main %}
        {%- if license.title %}
            {%- block title %}{{- '\n'|raw -}} * {{ license.title }}
            {%- endblock %}{{- '\n'|raw }} * 
        {%- endif %}
        {%- if license.copyright %}
                {{- '\n'|raw }} * Copyright © {{ 'now' | date('Y') }}
                {%- if license.author %} {{ license.author }}
                {%- endif %}
                {%- if license.email %} <{{ license.email }}>
                {%- endif %}
                {%- if not license.body %}, all rights reserved.
                {%- endif %}
            {%- block copyright %}
            {%- endblock %}{{- '\n'|raw }}
        {%- endif %}
        {%- if license.body %} * {{- '\n'|raw -}}
            {%- block body %}
                {%- for line in license.body|split %} * {{ line }}{{- '\n'|raw -}}{%- endfor %}
            {%- endblock %}{{- '\n'|raw -}}
        {%- endif %}
    {%- endblock %} */{{- '\n'|raw -}}
{%- endautoescape %}
