{# PHP Use Statements 
    Generates use statements for the beginning of a class, interface, trait, etc
#}{% autoescape false %}
    {%- block main %}
        {%- if use %}
            {%- for key, value in use %}use {{ key }}
                {%- if value is not null %} as {{ value }}
                {%- endif %};{{ '\n'|raw }}
            {%- endfor %}
        {%- endif %}
    {%- endblock %}
{% endautoescape %}
