{# Javascript Base Template
   Provides a baseline for generating javascript code with twig
#}{%- autoescape 'js' -%}
    {%- block lead -%}
        {%- if license -%}
            {%- block license -%}
                {%- include "javascript/utilities/license.twig" -%}{{ '\n'|raw }}
            {%- endblock -%}
        {%- endif -%}
        {%- if strict -%}
            {%- block strict -%}'use strict';{{ '\n'|raw }}{% endblock -%}
        {%- endif -%}
    {%- endblock -%}
    {%- if closure -%}
        {%- block closure_open %}(function({% if closure.args -%}{{ closure.args|join(', ')|raw }}{%- endif -%}) { {{- '\n'|raw }}{%- endblock %}
    {%- endif -%}
    {%- block main -%}
    {%- endblock -%}
    {%- if closure -%}
        {{- '\n'|raw -}}
        {%- block closure_close -%}
        })({%- if closure.dependencies -%}{{ closure.dependencies|join(', ')|raw }}{%- endif %});
        {%- endblock %}
    {%- endif %}
    {{- '\n'|raw -}}
{%- endautoescape %}
