{#
    Global Setup Content Component
    Provides a responsive primary content container component.
#}{%- extends 'html/component/bootstrap/content/primary.twig' -%}
{% block main -%}
    <!-- Setup Content -->
    <div "class="setup-content-wrapper">
        {% for key, section in content -%}
            <section id="{{ key }}-section" class="setup-content-section row">
                {%- if section is component %}
                    {{ section.render()|raw }}
                {% else %}
                    {{ section }}
                {% endif -%}
            </section>
        {% endfor -%}
    </div>
    <!-- End Setup Content -->
{%- endblock -%}