{# 
    Twig Base HTML Declaration
    
    Creates the baseline page structure for a twig templated web page.
    This template will call the sequence of required templates to insure
    that the web page is fully rendered correctly.
#}<!DOCTYPE {{ doctype }}>
{%- autoescape 'html' -%}<html{% if lang %} lang="{{ lang }}"{% endif %}>
        {%- if debug.enabled -%}
            <!-- Template Engine: {{ debug.engine }} -->
            <!-- Begin Template [{{ debug.template }}] -->
        {%- endif -%}
        {% block page_head %}
            {%- if debug.enabled -%}
                <!-- Page Head -->
            {%- endif -%}
            {% include 'html/page/head/head.twig' with head %}
            {%- if debug.enabled -%}
                <!-- End Page Head -->
            {%- endif -%}
        {% endblock %}
        {% block page_body %}
            {%- if debug.enabled -%}
                <!-- Page Body -->
            {%- endif -%}
            {% include 'html/page/body/body.twig' with body %}
            {%- if debug.enabled -%}
                <!-- End Page Body -->
            {%- endif -%}
        {% endblock %}
        {%- if debug.enabled -%}
        <!-- End Template [{{ debug.template }}] -->
        {%- endif -%}
    </html>{%- endautoescape -%}