{#
    Dashboard Heading Component
    Provides the page heading for the default dashboard pages.
#}{%- extends 'html/component/base.twig' -%}
{%- block main -%}
    {% if subheader %}
        {%- if debug.enabled -%}
            <!-- Block Sub-Header -->
        {%- endif -%}
        {% block subheader %}
            {{ subheader.render()|raw }}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Sub-Header -->
        {%- endif -%}
    {% endif %}
    {% if title %}
        {%- if debug.enabled -%}
            <!-- Block Title -->
        {%- endif -%}
        {% block title %}
            {{ title.render()|raw }}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Title -->
        {%- endif -%}
    {% endif %}
    {% if widgets %}
        {%- if debug.enabled -%}
            <!-- Block Widgets -->
        {%- endif -%}
        {% block widgets %}
            {{ widgets.render()|raw }}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Widgets -->
        {%- endif -%}
    {% endif %}
    {% if content %}
        {%- if debug.enabled -%}
            <!-- Block Content -->
        {%- endif -%}
        {% block content %}
            {%- include "html/utilities/content.twig" with {'content': content} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Content -->
        {%- endif -%}
    {% endif %}
{%- endblock -%}