{#
    Dashboard Title Component
    Provides the page title for the default dashboard pages.
#}{% extends "html/component/bootstrap/titlebar/titlebar.twig" %}
{% block main %}
    <div class="dashboard-title-wrapper">
        {{ parent() }}
    </div>
{% endblock%}
