{#
    Dashboard Header Component
    Provides the header for the default dashboard pages.
#}{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        <!-- Template Engine: {{ debug.engine }} -->
        <!-- Begin Template [{{ debug.template }}] -->
    {%- endif -%}
    {%- block main -%}

    {%- endblock -%}
    {%- if debug.enabled -%}
        <!-- End Template [{{ debug.template }}] -->
    {%- endif -%}
{%- endautoescape -%}