{#
    Dashboard UI Component
    Provides a UI container for the dashboard.
#}{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        <!-- Template Engine: {{ debug.engine }} -->
        <!-- Begin Template [{{ debug.template }}] -->
    {%- endif -%}
    {%- block main -%}
        {%- if debug.enabled -%}
            <!-- Dashboard UI -->
        {%- endif -%}
        {#<a class="scroll-to-top rounded" href="#dashboard-page">
            <i class="fas fa-angle-up"></i>
        </a>#}
        {%- if debug.enabled -%}
            <!-- End Dashboard UI -->
        {%- endif -%}
    {%- endblock -%}
    {%- if debug.enabled -%}
        <!-- End Template [{{ debug.template }}] -->
    {%- endif -%}
{%- endautoescape -%}