{#
    Dashboard Scrolltop Component
    Provides a scrolltop widget for the dashboard to return to the top of the page.
#}{%- autoescape 'html' -%}
    {%- block main -%}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#dashboard-page">
            <i class="fas fa-angle-up"></i>
        </a>
    {%- endblock -%}
{%- endautoescape -%}