{#
    Default Frontend Error Page Layout
    
    This is the default error page layout
    for frontend pages.
#}{% extends "html/layout/frontend/default.twig" %}
{%  block content -%}
    <div class="w-100 px-0 mx-0">
        {%- if main -%}
            {%- if debug.enabled -%}
                <!-- Content -->
            {%- endif -%}
            {{ main.render()|raw }}
            {%- if debug.enabled -%}
                <!-- End Content -->
            {%- endif -%}
        {%- endif -%}
        {% block error %}
            {%- if error -%}
                {%- if debug.enabled -%}
                    <!-- Error -->
                    {{ error.render()|raw }}
                    <!-- End Error -->
                {%- endif -%}
            {%- endif -%}
        {% endblock %}
    </div>
{% endblock -%}