{#
    Landing Twig Page Layout
    
    This is a page layout for site landing pages.
#}{% extends "html/layout/frontend/default.twig" %}
{% block content %}
    <div class="w-100 px-0 mx-0">
        {%- if main -%}
            {%- if debug.enabled -%}
                <!-- Content -->
            {%- endif -%}
            {{ main.render()|raw }}
            {%- if debug.enabled -%}
                <!-- End Content -->
            {%- endif -%}
        {%- endif -%}
    </div>
{% endblock %}