{#
    Three Column Twig Page Layout
    
    This layout provides three columns, with
    two sidebars and a central content area.

    It is SEO optimized to display elements in a
    hierarchical priority that still displays visually
    on the page correctly.
#}{% extends "html/layout/frontend/default.twig" %}