{#
    Global Documentation Content Component
    Provides a responsive primary content container component.
#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    <!-- Documentation Content Wrapper -->
    <div class="documentation-content-wrapper container-fluid">
        <div class="row">
            {% if content['left-sidebar'] %}{% block left_sidebar -%}
                    <section id="left-sidebar" class="col-3 h-100 overflow-auto">
                        {% if content['left-sidebar'] is component -%}
                            {{ content['left-sidebar'].render()|raw }}
                        {%- else -%}
                            {{ content['left-sidebar'] }}
                        {%- endif -%}
                    </section>
                {%- endblock -%}{% endif %}
                {% if content['main'] %}{% block content -%}
                        <section id="main-content" class="col-9 h-100 overflow-auto">
                            {% for key, section in content['main'] -%}
                                {%- if section is component %}
                                    {{ section.render()|raw }}
                                {% else %}
                                    {{ section }}
                                {% endif -%}
                            {% endfor -%}
                        </section>
                    {%- endblock -%}{% endif %}
                </div>
            </div>
            <!-- End Documentation Content Wrapper -->
        {%- endblock -%}