{#
    Global Documentation Content Component
    Provides a responsive primary content container component.
#}{%- extends 'html/component/bootstrap/content/block.twig' -%}
{% block title %}{% endblock %}
{% block content -%}
    {%- if debug.enabled -%}
        <!-- Documentation Content -->
    {%- endif -%}
    <div class="markdown-body row">
        {{ content|raw }}
    </div>
    {%- if debug.enabled -%}
        <!-- End Documentation Content -->
    {%- endif -%}
{%- endblock -%}
