{#
    Apache VHost Template
    
    Provides a template for generating a vhost file

#}
{%- autoescape false -%}
<Virtualhost *:{{ port }}>
    ServerAdmin {{ admin.email }}
    DocumentRoot "{{ directory.name }}"
    ServerName {{ domain.host }}
    ServerAlias {{ domain.alias }}
    ErrorLog "{{ log.errors }}"
    CustomLog "{{ log.access }}" common
    <Directory "{{ directory.name }}">
        AllowOverride all
        Require all granted
        {% if directory.options %}Options{% for opt in directory.options %} {{ opt }}{% endfor %}{% endif %}
        DirectoryIndex{% for index in directory.index %} {{ index }}{% endfor %}
    </Directory>
</Virtualhost>

{%- endautoescape %}
