{# PHP Base Template
   Provides a baseline for generating PHP code with twig
#}{%- autoescape false -%}{% block open_tag %}<?php{{ '\n'|raw }}{% endblock %}
    {%- block lead -%}
        {%- if license -%}
            {%- block license -%}
                {%- include "php/utilities/license.twig" -%}{{ '\n'|raw }}
            {%- endblock -%}
        {%- endif -%}
        {%- if namespace -%}
            {%- block namespace -%}{%- include "php/utilities/namespace.twig" -%}{{ '\n'|raw }}{% endblock -%}
        {%- endif -%}
        {%- if use -%}
            {%- block use -%}{%- include "php/utilities/use.twig" -%}{{ '\n'|raw }}{% endblock -%}
        {%- endif -%}
    {%- endblock -%}
    {%- block main -%}
    {%- endblock -%}
    {%- block trailing_linebreak -%}{{- '\n'|raw -}}{%- endblock -%}
{%- endautoescape %}
