{#
    Generic Content Block Component
    Provides a responsive full width content container component.
    This component will recursively resolve content passed safely.
#}{%- extends 'html/component/base.twig' -%}
{% block wrapper_class %} class="content-block container-fluid{% if class %} {{ class }}{% endif %}"{% endblock %}
{% block main -%}
    {% if header %}
        {%- if debug.enabled -%}
            <!-- Block Header -->
        {%- endif -%}
        {% block header %}
            {% include "html/utilities/content.twig" with {"content": header} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Header -->
        {%- endif -%}
    {% endif %}
    {% if banner %}
        {%- if debug.enabled -%}
            <!-- Block Banner -->
        {%- endif -%}
        {% block banner %}
            {% include "html/utilities/content.twig" with {"content": banner} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Banner -->
        {%- endif -%}
    {% endif %}
    {% if nav %}
        {%- if debug.enabled -%}
            <!-- Block Nav -->
        {%- endif -%}
        {% block nav %}
            {% include "html/utilities/content.twig" with {"content": nav} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Nav -->
        {%- endif -%}
    {% endif %}
    {% if image %}
        {%- if debug.enabled -%}
            <!-- Block Image -->
        {%- endif -%}
        {% block image %}
            {% include "html/utilities/content.twig" with {"content": image} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Image -->
        {%- endif -%}
    {% endif %}
    {% if title %}
        {%- if debug.enabled -%}
            <!-- Block Title -->
        {%- endif -%}
        {% block title %}
            {% include "html/utilities/content.twig" with {"content": title} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Title -->
        {%- endif -%}
    {% endif %}
    {% if subtitle %}
        {%- if debug.enabled -%}
            <!-- Block Subtitle -->
        {%- endif -%}
        {% block subtitle %}
            {% include "html/utilities/content.twig" with {"content": subtitle} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Subtitle -->
        {%- endif -%}
    {% endif %}
    {% if content %}
        {%- if debug.enabled -%}
            <!-- Block Content -->
        {%- endif -%}
        {% block content %}
            {% include "html/utilities/content.twig" with {"content": content} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Content -->
        {%- endif -%}
    {% endif %}
    {% if row %}
        {%- if debug.enabled -%}
            <!-- Block Row -->
        {%- endif -%}
        {% block row %}
            {% include "html/utilities/content.twig" with {"content": row} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Row -->
        {%- endif -%}
    {% endif %}
    {% if column %}
        {%- if debug.enabled -%}
            <!-- Block Column -->
        {%- endif -%}
        {% block column %}
            {% include "html/utilities/content.twig" with {"content": column} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Column -->
        {%- endif -%}
    {% endif %}
    {% if footer %}
        {%- if debug.enabled -%}
            <!-- Block Footer -->
        {%- endif -%}
        {% block footer %}
            {% include "html/utilities/content.twig" with {"content": footer} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Footer -->
        {%- endif -%}
    {% endif %}
{%- endblock -%}
