{#
    Primary Content Component
    Provides a responsive primary content container component.
#}{%- autoescape 'html' -%}<main role="main" {% if id %}id="{{ id }}" {% endif %}{% if class %} class="{{ class }} container-fluid"{% else %} class="container-fluid"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}>
        {% if content -%}{% block main -%}<div class="row no-gutters w-100 mx-auto px-0">
                    {% for key, section in content -%}
                        <section id="{{ key }}-section" class="col-12 mx-auto px-0">
                            {{- section|raw -}}
                        </section>
                    {% endfor -%}
                </div>
            {%- endblock -%}{%- endif -%}
        </main>{%- endautoescape -%}
