{#
    Default Setup 403 Error Page Layout
    
    This is the default error page layout
    for 403 forbidden errors for the global setup.
#}{% extends "html/layout/error/403.twig" %}{% block main %}{% endblock %}