{#
    Default Setup 500 Error Page Layout
    
    This is the default error page layout
    for 500 server error pages for the global setup.
#}{% extends "html/layout/error/500.twig" %}{% block main %}{% endblock %}