{# 
    Page Title Bar
    Provides a responsive page title bar
#}{% extends "html/component/bootstrap/titlebar/titlebar.twig" %}{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 id="page-title" class="h1-responsive">{{ title }}</h1>
                <hr>
                {%- if subtitle %}<p class="h3-responsive">{{ subtitle }}</p>{% endif -%}
            </div>
        </div>
    </div>
{% endblock %}