{# 
    Title Bar
    Provides a responsive general purpose title bar
#}{% extends "html/component/base.twig" %}{% block main %}
    {% if title %}
        {%- block title -%}
            <{% if _context["title-type"] %}{{ _context["title-type"] }}{% else %}h1{% endif %}{% if _context["title-id"] %} id="{{ _context["title-id"] }}"{% endif %}{% if _context["title-class"] %} class="{{ _context["title-class"] }}"{% endif %}>{%if icon %}{% block icon %}{% include "html/element/icon/icon.twig" with (icon is array ? icon : {"icon": icon, "class": false, "id": false, "context": false, "component": false, "parent": false, "toggle": false, "target": false, "expanded": null, "content": false, "subtext": false}) %}{% endblock %}{% endif %}{{ title.content }}</{% if _context["title-type"] %}{{ _context["title-type"] }}{% else %}h1{% endif %}>
        {%- endblock -%}
    {% endif %}
    {% if subtitle %}
        {%- block subtitle -%}
            <{% if _context["subtitle-type"] %}{{ _context["subtitle-type"] }}{% else %}p{% endif %} {% if _context["subtitle-id"] %} id="{{ _context["subtitle-id"] }}"{% endif %}{% if _context["subtitle-class"] %} class="{{ _context["subtitle-class"] }}"{% endif %}>{{ subtitle }}</{% if _context["subtitle-type"] %}{{ _context["subtitle-type"] }}{% else %}p{% endif %}>
        {%- endblock -%}
    {% endif %}
{% endblock %}
