{# 
    Post
    Provides a straightforward responsive implementation of a standard page post.
    This implementation fills the full width of its parent. References to this
    template should constrain sizing appropriately within a wrapper element
    before including this template.
#}{% extends "html/component/base.twig" %}{%- block main -%}
    <div class="container-fluid mb-3">
        {%- if title -%}
            {%- block post_title -%}
                <div class="row">
                    <div class="col-12">
                        <h2 class="post-title">{{ title }}</h2>
                        <hr>
                    </div>
                </div>
            {%- endblock -%}
        {%- endif -%}
        {%- block post -%}
            <div class="row">
                <div class="col-12">
                    {%- if content is component -%}
                        {{ content.render()|raw }}
                    {%- elseif content is array -%}
                        {% for item in content %}
                            <span class="post-paragraph">{{ item }}</span><br><br>
                        {% endfor %}
                    {%- else -%}
                        {{- content -}}
                    {%- endif -%}
                </div>
            </div>
        {%- endblock -%}
    </div>
{%- endblock -%}