{# 
    Error Jumbotron
    Provides a jumbotron for error page display.
#}{% extends "html/component/bootstrap/jumbotron/jumbotron.twig" %}{%- block content -%}
    <div class="container d-flex h-100">
        <div class="row flex-column flex-lg-row mx-auto">
            {% if image -%}<div class="col-12 col-lg-4 h-auto h-lg-100 justify-content-center align-self-center">
                    {% include "html/element/image/image.twig" with image %}
                </div>{%- endif %}
                {#                    {% if image -%}{% include "html/element/image/image.twig" with image %}{%- endif %}#}
                <div class="col-12 col-lg-8 h-auto h-lg-100 text-center text-lg-left">
                    {% if title -%}<h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{ title }}</strong></h1>{%- endif %}
                    {% if message -%}<p class="mb-5">{{ message }}</p>{%- endif %}
                </div>
            </div>
        </div>
        {%- endblock %}
