{# 
    Jumbotron
    Provides an eye catching full-width media banner,
    which can be overlaid with a page title, text,
    call to action, or a form.
#}{% extends "html/component/base.twig" %}{% block main %}
    <div class="jumbotron card{% if background %} card-image{% endif %} mb-0 h-100"{% if background %}  style="background-image: url({{ background }}); background-size: cover; background-position: center center;"{% endif %}>
        <div class="{% if light %}text-white{% endif %}{% if centered %} text-center{% endif %}">
            {%- block content -%}
                {% if content %}{% include "html/utilities/content.twig" with content %}{% endif %}
            {%- endblock %}
        </div>
    </div>
{% endblock %}
