{# Json Null Template
   This is for things that MUST declare a valid template
   but don't do anything with one. It does nothing.

   It only extends the default null template.
#}{%- extends "null.twig" -%}