{#
    Default Login 404 Error Page Layout
    
    This is the default error page layout
    for 404 not found errors for the login page.
#}{% extends "html/layout/error/404.twig" %}{% block main %}{% endblock %}