/* 
    Sass Header Layout
    Created on : Dec 7, 2018, 9:22:08 PM
    Author     : Brian Dayhoff
*/

/*
 * Fixes some issues with bootstrap collapse breaking flexbox in the search form
 */
.ui-searchbar-form {
    height: 38px;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;

    >.input-group {

    }

    &.show {
        display: flex;
        >.input-group {

        }
    }
    &.collapsing {
        display: flex;

        >.input-group {
            display: block;
            height: 38px;
            width: auto;
            overflow-x: auto;
            overflow-y: hidden;

        }
    }
}

/*
 * Standardizes display of ui dropdowns
 */

.ui-dropdown-menu {
    min-width: 50vh;
    max-width: 50vh;
}