/* 
    Sass Navigation Layout
    Created on : Dec 7, 2018, 9:22:08 PM
    Author     : Brian Dayhoff
*/

.primary-navigation .navbar-ui {
    @include media-breakpoint-down(lg) {
        position: absolute;
        right: 0;
        top: .25rem!important;
    }
}

.drodown-toggle {
    background-color: red !important;
    @include media-breakpoint-down(lg) {
        position: absolute !important;
        left: 96%;
    }
}

.nav-link {
    .subcategory-controls {
        .accordion-button {
            @include media-breakpoint-down(lg) {
                background-color: initial;
                margin-bottom: 0;
            }
        }
    }
    .dropdown-menu {
        &.show {
            @include media-breakpoint-down(lg) {
                position: relative !important;
                top: 0;
                width: 100%;
                background-color: initial;
                box-shadow: none;
            }
        }
    }
}

.dropdown {


    &.no-arrow {
        .dropdown-toggle::after {
            display: none;
        }
    }
}

.dropdown-submenu {
    @include media-breakpoint-down(lg) {
        position: relative !important;
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        &:hover >.dropdown-menu {
            left: 100%;
            top: 0;
            display: block;
            margin-top: 0;
            width: auto !important;
        }
    }
}