{# 
    Link Set
    Provides a simple list of links, with an optional title
    Useful for simple sets of links that should be persistently visible,
    or don't warrant a dynamic navigation menu based on their placement
#}{% extends "html/component/base.twig" %}{% block main %}{% endblock %}
