{#
    User Contact Settings
    Provides a responsive container for a user contact settings page section.
#}{%- extends 'html/component/bootstrap/user/settings-section.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}