{#
    User Preferences Settings
    Provides a responsive container for a user general preferences settings page section.
#}{%- extends 'html/component/bootstrap/user/settings-section.twig' -%}
{% block main -%}{{ parent() }}{%- endblock -%}