{# 
    Twig Document Body Template
#}<body{% if id %} id="{{ id }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}>
    {%- if debug.enabled -%}
        <!-- Document Body -->
    {%- endif -%}
    {%- if script.body -%}
        {%- if debug.enabled -%}
            <!-- Body Scripts -->
        {%- endif -%}
        {% include "html/page/head/scripts.twig" with {"scripts": script.body} %}
        {%- if debug.enabled -%}
            <!-- End Body Scripts -->
        {%- endif -%}
    {%- endif -%}
    <div class="container-fluid m-0 p-0 d-flex flex-column min-vh-100">
        {%- if debug.enabled -%}
            <!-- Layout -->
        {%- endif -%}
        {%- if layout  -%}
            {{- layout|raw -}}
        {%- else -%}
            {%- include "html/page/body/layout/layout-missing.twig" -%}
        {%- endif -%}
        {%- if debug.enabled -%}
            <!-- End Layout -->
        {%- endif -%}
    </div>
    {%- if script.footer -%}
        {%- if debug.enabled -%}
            <!-- Footer Scripts -->
        {%- endif -%}
        {% include "html/page/head/scripts.twig" with {"scripts": script.footer} %}
        {%- if debug.enabled -%}
            <!-- End Footer Scripts -->
        {%- endif -%}
    {%- endif -%}
    {%- if debug.enabled -%}
        <!-- End Document Body -->
    {%- endif -%}
</body>
