{#
    Dashboard Content Component
    Provides a responsive primary content container component for the dashboard.
#}{%- autoescape 'html' -%}<div {% if id %}id="{{ id }}" {% endif %}class="dashboard col-12 order-1 mx-0 px-0{% if class %} {{ class }}{% endif %}"{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}>
        <div class="container-fluid h-100 mx-0 px-0">
            <div class="submenu-backdrop"></div>
            <div class="d-flex flex-row align-items-stretch h-100 mx-0 px-0">
                {% block sidebar -%}
{#                    <div class="col-2 h-100 mx-0 px-0 sidebar-shim"></div>#}
                    <div class="d-flex flex-column h-100 mx-0 px-0 sidebar">
                        {{-  sidebar|raw -}}
                    </div>
                {%- endblock %}
                {% block content -%}
                    <div class="d-flex flex-column h-100 mx-0 px-0">
                        {{-  content|raw -}}
                    </div>
                {%- endblock %}
            </div>
        </div>
</div>{%- endautoescape -%}
