{#
    Dashboard Searchbar Component
    Provides a searchbar widget for the default dashboard topbar.
#}{%- autoescape 'html' -%}
    {%- block main -%}
        <!-- Topbar Search -->
        <form name="dashboard-search-form"
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <div id="dashboard-search-field" class="form-outline collapse fade">
                    <input id="dashboard-search" name="dashboard-search" type="search" id="form1" class="form-control" aria-label="Search" aria-describedby="basic-addon2">
                    <label class="form-label" for="form1">Search</label>
                </div>
                <a type="button" class="nav-link" data-bs-target="#dashboard-search-field" data-bs-toggle="collapse">
                    <i class="fas fa-search fa-sm"></i>
                </a>
            </div>
        </form>
    {%- endblock -%}
{%- endautoescape -%}