{# 
    Card Group
    Provides a responsive container for groups of cards.

#}{%- extends "html/component/base.twig" -%}
<div class="card-group">
    {%- block main -%}
        {% if content -%}
            {%- for card in content -%}
                {{- card|raw -}}
            {%- endfor -%}
        {%- endif -%}
    {%- endblock -%}
</div>