{# 
    Card
    Provides a responsive container for small subsets of text in an appealing form
    This implementation fills the full width of its parent. References to this
    template should constrain sizing appropriately within a wrapper element
    before including this template.

    There are optional unused blocks for a header and footer for extending templates
    to leverage if desired.

#}{%- extends "html/component/base.twig" -%}
{%- block main -%}
    <div class="card mb-3">
        {% if header %}
            {%- block header -%}
                {%- if header is component %}
                    {{ header.render()|raw }}
                {%- else %}
                    <div class="card-header">
                        {% include "html/utilities/content.twig" with {"content": header} %}
                    </div>
                {%- endif %}
            {%- endblock -%}
        {% endif %}
        {%- if image -%}
            {%- block image -%}
                <div class="view overlay">
                    <img class="card-img-top" src="{{ image.href }}" alt="{% if image.title %}{{ image.title }}{% endif %}" alt="{% if image.alt %}{{ image.alt }}{% endif %}">
                    <a href="{% if image.href %}{{ image.href }}{% else %}#!{% endif %}">
                        {%- if image.mask -%}
                            <div class="mask {{ image.mask }}"></div>
                        {%- endif -%}
                    </a>
                </div>
            {%- endblock -%}
        {%- endif -%}
        {%- block content -%}
            <div class="card-content card-body">
                {%- if title -%}
                    <h5 class="card-title">{{ title }}</h5>
                {%- endif -%}
                {% if subtitle %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ subtitle }}</h6>
                {%- endif -%}
                {% if components %}
                    <ul class="list-group list-group-flush">
                        {% for item in components %}
                            <li class="list-group-item">{{ item.render()|raw }}</li>
                            {% endfor %}
                    </ul>
                {%- endif -%}
                {% if content %}{% if content is component %}{{ content.render()|raw }}{% else %}<p class="card-text">{{ content }}</p>{% endif %}
                {%- endif -%}
                {%- if button -%}
                    <a {% if button.id %}id="{{ button.id }}" {% endif %}href="{% if button.href %}{{ button.href }}{% else %}#{% endif %}" class="btn{% if button.class%} {{ button.class }}{% endif %}">{{ button.text }}</a>
                {%- endif -%}
            </div>
        {%- endblock -%}
        {%- if list -%}
            {% block list -%}<ul class="list-group list-group-flush">
                    {% for item in list %}
                        <li{% if item.id %} id="{{ item.id }}"{% endif %} class="list-group-item{% if item.class%} {{ item.class }}{% endif %}"{% if item.context %} data-context="{{ item.context }}"{% endif %}{% if item.parent %} data-parent="#{{ item.parent }}"{% endif %}>{{ item.content }}</li>
                        {% endfor %}
                </ul>
            {%- endblock -%}
        {%- endif -%}
        {%- if links -%}
            {% block links -%}
                <div class="card-links card-body">
                    {%- for link in links -%}
                        <a{% if link.id %} id="{{ link.id }}"{% endif %} class="mr-1{% if link.class %} {{ link.class }}{% endif %}" href="{% if link.href %}{{ link.href }}{% else %}#{% endif %}"{% if link.context %} data-context="{{ link.context }}"{% endif %}{% if link.parent %} data-parent="#{{ link.parent }}"{% endif %}>{{ link.content }}</a>
                    {%- endfor -%}
                </div>
            {%- endblock -%}
        {%- endif -%}
        {%- block footer -%}{%- endblock -%}
    </div>
{%- endblock -%}