{# 
    Card Grid
    Provides a responsive container for groups of cards.

#}{%- extends "html/component/base.twig" -%}
{% block wrapper_class %} class="card-grid row row-cols-{% if _context["columns"] %}{{ _context["columns"] }}{% else %}1{% endif %}{% if _context["columns-md"] %} row-cols-md-{{ _context["columns-md"] }}{% endif %}{% if _context["columns-lg"] %} row-cols-lg-{{ _context["columns-lg"] }}{% endif %}{% if _context["columns-xl"] %} row-cols-xl-{{ _context["columns-xl"] }}{% endif %}{% if _context["columns-xxl"] %} row-cols-xxl-{{ _context["columns-xxl"] }}{% endif %}"{% endblock %}
{% block main %}
    {% if cards %}
        {%- if debug.enabled -%}
            <!-- Block Cards -->
        {%- endif -%}
        {% block cards %}
            {% for key, card in cards %}
                <div class="col">{%include "html/utilities/content.twig" with {"key": key, "content": card} %}</div>
            {% endfor %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Cards -->
        {%- endif -%}
    {% endif %}
{% endblock %}
