{# 
    Image Overlay Card
    Provides a responsive container for small subsets of text in an appealing form,
    which has an image overlay. This is a good option for front page content sections.
    This implementation fills the full width of its parent. References to this
    template should constrain sizing appropriately within a wrapper element
    before including this template.

    There are optional unused blocks for a header and footer for extending templates
    to leverage if desired.

#}{%- extends "html/component/base.twig" -%}{%- block main -%}
    <div class="card card-image mb-3"{% if image %}{%- block image -%} style="background-image: url({{ image.href }})"{%- endblock -%}{% endif %}>{%- block header -%}{%- endblock -%}
        {%- block content -%}
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    {%- if title -%}
                        <h5{% if color %} class="{{ color }}-text"{% endif %}>{{ title }}</h5>
                    {%- endif -%}
                    {% if content %}
                        <p>{{ content }}</p>
                    {%- endif -%}
                    {%- if button -%}
                        <a {% if button.id %}id="{{ button.id }}" {% endif %}href="{% if button.href %}{{ button.href }}{% else %}#{% endif %}" class="btn{% if color %} btn-{{ color }}{% endif %}{% if button.class%} {{ button.class }}{% endif %}">{{ button.text }}</a>
                    {%- endif -%}
                </div>
            </div>{%- endblock -%}
        </div>
    {%- endblock -%}