{#
    Dashboard Topbar Component
    Provides the top of page navbar for the default dashboard pages.
#}{% extends "html/component/bootstrap/header/header.twig"%}

{#{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        <!-- Template Engine: {{ debug.engine }} -->
        <!-- Begin Template [{{ debug.template }}] -->
    {%- endif -%}
    {%- block main -%}
        <nav class="navbar navbar-expand navbar-light bg-white topbar sticky-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            {% block navbar -%}
                {% include "html/component/dashboard/ui/userbar/userbar.twig" %}
            {%- endblock %}
        </nav>
    {%- endblock -%}
    {%- if debug.enabled -%}
    <!-- End Template [{{ debug.template }}] -->
    {%- endif -%}
{%- endautoescape -%}
#}