{# 
    Ui Icon
    Provides a baseline for ui menu icons
#}{% extends "html/component/base.twig" %}

{% block main %}
    <form
        {% if id %} id="{{ id }}-form"{% endif %} class="input-group d-flex flex-row"
        {% if id %} name="{{ id }}"{% endif %}
        {%- if method %} method="{{ method }}"{% endif %}
        {%- if action %} action="{{ action }}"{% endif %}
        >
        <div class="input-group-text">
            <i class="fas fa-search"></i>
        </div>
        <div class="form-outline">
            <input type="search" {% if id %} id="{{ id }}-search" name="{{ id }}"{% endif %} class="form-control" />
            <label class="form-label" {% if id %} for="{{ id }}-search"{% endif %}>{% if label %}{{ label }}{% else %}Search{% endif %}</label>
        </div>
        <button type="button" class="btn btn-primary shadow-0 input-group-text" data-bs-toggle="collapse" data-bs-target=".ui-searchbar-collapse">
            <i class="fas fa-times"></i>
        </button>
    </form>
{% endblock %}

