{#
    User Profile Avatar
    Provides a template for a user profile avatar image

#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    {%- if icon %}
        {%- if debug.enabled -%}
            <!-- Icon -->
        {%- endif -%}
        {%- block icon %}
            {{ icon.render()|raw }}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Icon -->
        {%- endif -%}
    {%- endif %}
{%- endblock -%}