{#
    User Profile Banner
    Provides a template for a user profile banner image

#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    {%- if image %}
        {%- if debug.enabled -%}
            <!-- Banner Image -->
        {%- endif -%}
        {%- block image %}
            {{ image.render()|raw }}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Banner Image -->
        {%- endif -%}
    {%- endif %}
{%- endblock -%}