{#
    User Profile Details
    Provides a template for a user profile identity details

#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    {%- if name %}
        {%- if debug.enabled -%}
            <!-- Display Name -->
        {%- endif -%}
        {%- block name %}
            <div class="d-flex flex-row">
                <h2 class="display-name d-flex display-6">
                    {{- name }}
                </h2>
                {%- if verified %}
                    <span class="d-flex ms-2 my-auto h4" data-bs-toggle="tooltip" data-bs-placement="right" title="Verified" aria-label="Verified">
                        <i class="fas fa-check-circle text-primary"></i>
                    </span>
                {%- else %}
                    <span class="d-flex ms-2 my-auto h4" data-bs-toggle="tooltip" data-bs-placement="right" title="Unverified" aria-label="Unverified">
                        <i class="fas fa-question-circle text-warning"></i>
                    </span>
                {%- endif -%}
            </div>
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Display Name -->
        {%- endif -%}
    {%- endif %}
{%- endblock -%}