{#
    User Profile Header
    Provides a template for a user profile header

#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    <div class="profile-lead min-vh-25 position-relative p-0 pb-4 d-block w-100 h-auto">
        {%- if banner %}
            {%- if debug.enabled -%}
                <!-- Banner -->
            {%- endif -%}
            {%- block banner %}
                {{ banner.render()|raw }}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Banner -->
            {%- endif -%}
        {%- endif %}
        {%- if avatar %}
            {%- if debug.enabled -%}
                <!-- Avatar -->
            {%- endif -%}
            {%- block icon %}
                {{ avatar.render()|raw }}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Avatar -->
            {%- endif -%}
        {%- endif %}
    </div>
    <div class="profile-details container-fluid py-3 h-auto d-block">
        <div class="row no-gutters px-0 mx-0 ps-5">
            {%- if details %}
                {%- if debug.enabled -%}
                    <!-- Profile Details -->
                {%- endif -%}
                {%- block details %}
                    {{ details.render()|raw }}
                {% endblock %}
                {%- if debug.enabled -%}
                    <!-- End Profile Details -->
                {%- endif -%}
            {%- endif %}
            {%- if menu %}
                {%- if debug.enabled -%}
                    <!-- Profile Details Menu -->
                {%- endif -%}
                {%- block menu %}
                    {{ menu.render()|raw }}
                {% endblock %}
                {%- if debug.enabled -%}
                    <!-- End Profile Details Menu -->
                {%- endif -%}
            {%- endif %}
        </div>
    </div>
{%- endblock -%}