{# 
    User Profile
    Provides a responsive container for a summary of a user,
    that can expand into a more detailed view when clicked
#}{% extends "html/component/bootstrap/card/card.twig" %}{% block main %}{% endblock %}
