{# Dashboard Widget
   Provides a template for a responsive dashboard widget, for at-a-glance information
#}{% extends "html/component/base.twig" %}
{% block wrapper_class %} class="col-xl-3 col-md-6 mb-4{%- if class %} {{ class }}{% endif %}"{% endblock %}
{% block main %}
    <div class="card{% if color %} border-start-{{ color }}{% endif %}shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col me-2">
                    {% if title %}<div class="text-xs font-weight-bold {% if color %} text-{{ color }}{% endif %} text-uppercase mb-1">{{ title }}</div>{% endif %}
                    <div class="col-auto">
                        {% if value %}<div class="h5 mb-0 font-weight-bold text-gray-800">{{ value }}</div>{% endif %}
                    </div>
                        {% if _context["progress-bar"] %}
                            <div class="col">
                                <div class="progress progress-sm me-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        {% endif %}
                </div>
                {% if icon %}<div class="col-auto">
                        <i class="{{ icon }} fa-2x text-gray-300"></i>
                    </div>{% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
