{# Dashboard Widget Row 
   Provides a section for at-a-glance informative widgets at the top of
   the dashboard content area.
#}{% extends "html/bootstrap/row.twig" %}
{% block main %}
    {% if widgets %}
        {%- if debug.enabled -%}
            <!-- Block Widgets -->
        {%- endif -%}
        {% block widgets %}
            {% include "html/utilities/content.twig" with {"content": widgets} %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Widgets -->
        {%- endif -%}
    {% endif %}
{% endblock %}
