{#
    Offcanvas Component
    Provides a responsive Bootstrap 5 offcanvas component.
#}{% extends "html/component/base.twig" %}
{% block wrapper_class %} class="{%- if class %}{{ class }} {% endif %}offcanvas {{ orientation }}"{% endblock %}
{% block wrapper_data %} tabindex="-1"{{ parent() }}
    {%- if scroll %} data-bs-scroll="true"{% else %} data-bs-scroll="false"{% endif %}
    {%- if backdrop %} data-bs-backdrop="true"{% else %} data-bs-backdrop="false"{% endif %}
    {%- if escapable %} data-bs-keyboard="true"{% else %} data-bs-keyboard="false"{% endif %}
{% endblock %}
{%- block main -%}
    {%- if header or title %}
        {%- if debug.enabled -%}
            <!-- Sidebar Header -->
        {%- endif -%}
        {%- block header %}
            <div class="offcanvas-header">
                {%- if title %}
                    <h5 {% if id %}id="{{ id }}-title" {% endif %}class="offcanvas-title">{{ title }}</h5>
                {%- endif %}
                {%- if dismissable %}
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                {%- endif %}
            </div>
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Sidebar Header -->
        {%- endif -%}
    {%- endif %}
    <div class="offcanvas-body">
        {%- if brand %}
            {%- if debug.enabled -%}
                <!-- Sidebar Brand -->
            {%- endif -%}
            {%- block brand %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Brand -->
            {%- endif -%}
        {%- endif %}
        {%- if content %}
            {%- if debug.enabled -%}
                <!-- Sidebar Content -->
            {%- endif -%}
            {%- block content %}
                {% for key, value in content %}
                    {{- value|raw -}}
                {% endfor %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Content -->
            {%- endif -%}
        {%- endif %}
        {%- if ui %}
            {%- if debug.enabled -%}
                <!-- Sidebar UI -->
            {%- endif -%}
            {%- block ui %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar UI -->
            {%- endif -%}
        {%- endif %}
        {%- if footer %}
            {%- if debug.enabled -%}
                <!-- Sidebar Footer -->
            {%- endif -%}
            {%- block footer %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Footer -->
            {%- endif -%}
        {%- endif %}
    </div>
{%- endblock %}