/* 
    Sass Mixins
    Created on : Dec 7, 2018, 9:22:08 PM
    Author     : Brian Dayhoff
*/

// Make input
@mixin make-input($margin-bottom, $label-font-size, $label-active-font-size, $top, $prefix-font-size, $margin-left, $width, $margin-left-2) {
  .validate {
    margin-bottom: $margin-bottom;
  }
  label {
    font-size: $label-font-size;
    &.active {
      font-size: $label-active-font-size;
    }
  }
  .prefix {
    top: $top;
    font-size: $prefix-font-size;
    ~input,
    ~textarea {
      margin-left: $margin-left;
      width: $width;
    }
    ~label {
      margin-left: $margin-left;
    }
    ~.form-text {
      margin-left: $margin-left-2;
    }
  }
}
