/* 
    Sass Variables
    Created on : Dec 7, 2018, 9:22:08 PM
    Author     : Brian Dayhoff
*/

/*** Global ***/
//FontAwesome Web Font Path
$fa-font-path: "/public/css/vendors/webfonts";


// Forms
$input-label-after-top:               65px !default;
$input-label-after-transition:        .2s opacity ease-out, .2s color ease-out !default;
$input-label-valid-top:                3.56rem !default;
$input-label-invalid-top:              3.44rem !default;
$input-label-valid-top-lg:             4.1rem !default;
$input-label-invalid-top-lg:           4rem !default;
$input-label-valid-top-sm:             3.2rem !default;
$input-label-invalid-top-sm:           3.1rem !default;
$input-form-control-margin-bottom:     .5rem !default;
$input-form-control-padding-top:       .3rem !default;
$input-form-control-padding-bottom:    .55rem !default;
$input-validate-mb:                    2.5rem !default;
$input-label-font-size:               1rem !default;
$input-label-active-font-size:        .8rem !default;
$input-prefix-top:                    .25rem !default;
$input-prefix-font-size:               1.75rem !default;
$input-prefix-margin-left:             2.5rem !default;
$input-prefix-width:                   calc(100% - 2.5rem) !default;
$input-form-text-ml:                   2.6rem !default;
$input-md-form-margin-top:            1.5rem !default;
$input-md-form-margin-bottom:         $input-md-form-margin-top !default;
$input-label-top:                     .65rem !default;
$input-label-transition:              .2s ease-out !default;
$input-label-color:                   #757575 !default;
$input-label-active-transform:        translateY(-140%) !default;
$input-prefix-transition:             color .2s !default;
$input-validate-mb-lg:                 2.8rem !default;
$input-label-font-size-lg:             1.25rem !default;
$input-label-active-font-size-lg:      .95rem !default;
$input-prefix-top-lg:                  .4rem !default;
$input-prefix-font-size-lg:            2rem !default;
$input-prefix-margin-left-lg:          3rem !default;
$input-prefix-width-lg:                calc(100% - 3rem) !default;
$input-form-text-ml-lg:                3.1rem !default;
$input-validate-mb-sm:                 2.3rem !default;
$input-label-font-size-sm:             .875rem !default;
$input-label-active-font-size-sm:      .75rem !default;
$input-prefix-top-sm:                  .35rem !default;
$input-prefix-font-size-sm:            1.5rem !default;
$input-prefix-margin-left-sm:          2rem !default;
$input-prefix-width-sm:                calc(100% - 2rem) !default;
$input-form-text-ml-sm:                2rem !default;
