{# PHP interface base template
   Generates a php interface
#}{% extends "php/base.twig" %}
{% block open_tag %}{% endblock %}
{% block main %}
    {%- autoescape false %}
        {%- if docblock %}
            {%- block docblock %}{{ docblock.render()|raw }}{% endblock %}
        {%- endif %}
        {%- block definer -%}
            {%- block definer_arguments %}{% endblock -%}
            function {{ name }}(
            {%- if arguments %}
                {%- include "php/utilities/function-arguments.twig" %}
            {%- endif %})
            {%- if return -%}
                : {% if return is string %}{{ return }}{% elseif return is array %}{% if return.nullable %}?{% endif %}{% if return.value %}{{ return.value }}{% endif %}{% endif %}
            {%- endif %}
        {%- endblock %}
        {%- block content %}{{- '\n'|raw }}{ {{- '\n'|raw }}
            {%- if expressions %}
                {%- block expressions %}
                    {%- include "php/utilities/function-expressions.twig" %}
                {%- endblock %}
            {%- endif %}
            {{- '\n'|raw -}} }
        {%- endblock -%}
    {%- endautoescape %}
{%- endblock -%}
