{#
    Twig Page Layout Base
    
    This template provides the basis for layouts to extend from
#}{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        <!-- Template Engine: {{ debug.engine }} -->
        <!-- Begin Template [{{ debug.template }}] -->
        <!-- Available Template Context:
        
        {% for key in _context|keys %}
        [{{ key }}]
        {% endfor -%}
        
        -->
    {%- endif -%}
    {%- if debug.enabled -%}
        <!-- Main Content -->
    {%- endif -%}
    {% block main %}
    {% endblock %}
    {%- if debug.enabled -%}
        <!-- End Main Content -->
    {%- endif -%}
    {%- if debug.enabled -%}
        <!-- End Template [{{ debug.template }}] -->
    {%- endif -%}
{%- endautoescape -%}