{# 
    Badge Component
    Provides a informational badge component.
#}{% extends "html/component/base.twig" %}

{%- block wrapper_class %} class="badge {%- if class %} {{ class }}{% endif %}"{%- endblock %}
{% block main %}
    {%- if content %}
        {%- block content %}
            {%- include "html/utilities/content.twig" with {'content': content} -%}
        {%- endblock %}
    {%- endif %}
{% endblock %}
