{# PHP expression base template
   Generates a php expression
#}{% extends "php/base.twig" %}
{% block open_tag %}{% endblock %}
{%- block main %}
    {%- autoescape false %}
        {%- if comment %}
            {%- block comment %}
                {%- if inline -%}
                    /* {{ comment }} */ {% else -%}
                    // {{ comment }}{{- '\n'|raw }}
                {%- endif %}
            {%- endblock %}
        {%- endif %}
        {%- if expression %}
            {%- block expression -%}
                {{- expression|raw -}}
            {%- endblock -%}
        {%- endif %}
    {%- endautoescape %}
{%- endblock -%}
{%- block trailing_linebreak -%}{% if not inline %};{{- '\n'|raw }}{% endif %}{%- endblock -%}