{#
    Dashboard Content Wrapper Component
    Provides a responsive content wrapper component for the dashboard.
#}{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        <!-- Content Wrapper -->
    {%- endif -%}
    {%- block main -%}
        <div id="content-wrapper" class="d-flex flex-column">
            {% block content -%}
                {%- if debug.enabled -%}
                    <!-- Main Content -->
                {%- endif -%}
                <div id="content">
                    {%- if debug.enabled -%}
                        <!-- Debug -->
                        {% block debug %}
                        <div id="debug-content-wrapper" class="container-fluid position-absolute collapse">
                            {{ debug.component.render()|raw }}
                        </div>
                        {% endblock %}
                        <!-- End Debug -->
                    {%- endif -%}
                    <!-- Page Content -->
                    <div class="container-fluid mt-4">
                        {% block heading -%}
                            {%- if heading %}
                                {%- if debug.enabled -%}
                                    <!-- Heading -->
                                {%- endif -%}
                                {{ heading.render()|raw }}
                                {%- if debug.enabled -%}
                                    <!-- End Heading -->
                                {%- endif -%}
                            {% endif -%}
                        {%- endblock %}
                        {% block page -%}
                            {%- if main %}
                                {%- if debug.enabled -%}
                                    <!-- Primary Content -->
                                {%- endif -%}
                                {{ main.render()|raw }}
                                {%- if debug.enabled -%}
                                    <!-- End Primary Content -->
                                {%- endif -%}
                            {% endif -%}
                        {%- endblock %}
                    </div>
                    {%- if debug.enabled -%}
                        <!-- End Page Content -->
                    {%- endif -%}
                </div>
                {%- if debug.enabled -%}
                    <!-- End Main Content -->
                {%- endif -%}
            {%- endblock %}
            {% block footer -%}
                {%- if footer %}
                    {%- if debug.enabled -%}
                        <!-- Footer -->
                    {%- endif -%}
                    {{ footer.render()|raw }}
                    {%- if debug.enabled -%}
                        <!-- End Footer -->
                    {%- endif -%}
                {% endif -%}
            {%- endblock %}
        </div>
    {%- endblock -%}
    {%- if debug.enabled -%}
        <!-- End Content Wrapper -->
    {%- endif -%}
{%- endautoescape -%}