{#
    Dashboard Error Content Component
    Provides the main content area for the default dashboard error pages.
#}{%- autoescape 'html' -%}
    {%- if debug.enabled -%}
        <!-- Template Engine: {{ debug.engine }} -->
        <!-- Begin Template [{{ debug.template }}] -->
    {%- endif -%}
    {%- block main -%}
        <!-- 404 Error Text -->
        <div class="text-center">
            {%- if debug.enabled -%}
                <!-- Error Code -->
            {%- endif -%}
            {%- block error_code %}
                {% if code -%}
                    <div class="error mx-auto" data-text="{{ code }}">{{ code }}</div>
                {%- endif %}
            {%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Error Code -->
            {%- endif -%}
            {%- if debug.enabled -%}
                <!-- Error Title -->
            {%- endif -%}
            {%- block error_title %}
                {% if title -%}
                    <p class="lead text-gray-800 mb-5">{{ title }}</p>
                {%- endif %}
            {%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Error Title -->
            {%- endif -%}
            {%- if debug.enabled -%}
                <!-- Error Message -->
            {%- endif -%}
            {%- block error_message %}
                {% if message %}
                    <p class="text-gray-500 mb-0">{{ message }}</p>
                {%- endif %}
            {%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Error Message -->
            {%- endif -%}
            {%- if debug.enabled -%}
                <!-- Error Link -->
            {%- endif -%}
            {%- block error_link %}
                {% if link -%}
                    <a href="{{ link.href }}">{{ link.text|raw }}</a>
                {%- endif %}
            {%- endblock %}
            {%- if debug.enabled -%}
                <!-- End Error Link -->
            {%- endif -%}
            {%- if debug.enabled -%}
                <!-- Block Error Details -->
                {%- block error_details %}
                    {% if error -%}
                        <div class="container my-4">
                            {{ error.render()|raw }}
                        </div>
                    {%- endif %}
                {%- endblock %}
                <!-- End Error Details -->
            {%- endif -%}
        </div>
    {%- endblock -%}
    {%- if debug.enabled -%}
        <!-- End Template [{{ debug.template }}] -->
    {%- endif -%}
{%- endautoescape -%}