{#
    Dashboard Content Wrapper Component
    Provides a responsive content wrapper component for the dashboard.
#}{% extends "html/layout/dashboard/content/content-wrapper.twig" %}
{% block page -%}
    {{ parent() }}
    {%- if debug.enabled -%}
        <!-- Primary Error Content -->
    {%- endif -%}
    {% include "html/layout/dashboard/content/error-content.twig" %}
    {%- if debug.enabled -%}
        <!-- End Primary Error Content -->
    {%- endif -%}
{%- endblock %}