{#
    Image Template
    Provides a template for contextual image includes from an array of details
#}<image src="{% if src %}{{ src }}{% else %}undefined{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if class %} class="{{ class }}"{% endif %} alt="{% if alt %}{{ alt }}{% endif %}"{% if height %} height="{{ height }}"{% endif %}{% if width %} width="{{ width }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}>
