{#
    Link Image Template
    A template for an image wrapped in an anchor link
#}{% block main %}
    <a {% block href %}href="{% if href %}{{ href }}{% else %}#{% endif %}"{% endblock %}{% block id %}{% if id %} id="{{ id }}"{% endif %}{% endblock %}{% block class %} class="d-flex{% if class %} {{ class }}{% endif %}"{% endblock %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if aria_label %} aria-label="{{ aria_label }}"{% endif %}>
        {% block image %}{% include "html/element/image/image.twig" with {"parent": id ? id : false, "id": false, "class": class ? class : false } %}{% endblock %}
    </a>
{%- endblock %}
