{# 
    List Group
    Provides a responsive container for lists of content.

    There are optional unused blocks for a header and footer for extending templates
    to leverage if desired.

#}{%- extends "html/component/base.twig" -%}{%- block main -%}
    {%- block header -%}{%- endblock -%}
    {%- block content -%}
        <ul class="list-group list-group-flush">
            {% for item in content %}
                <li{% if item.id %} id="{{ item.id }}"{% endif %} class="list-group-item{% if item.class%} {{ item.class }}{% endif %}"{% if item.context %} data-context="{{ item.context }}"{% endif %}{% if item.component %} data-component="{{ item.component }}"{% endif %}{% if item.category %} data-category="{{ item.category }}"{% endif %}{% if item.parent %} data-parent="{{ item.parent }}"{% endif %}{% if item.toggle %} data-bs-toggle="{{ item.toggle }}"{% endif %}{% if item.target %} data-bs-target="{{ item.target }}"{% endif %}{% if item.expanded and item.expanded is true or item.expanded is false %} aria-expanded="{{ item.expanded ? 'true' : 'false' }}"{% endif %}{% if item.controls %} aria-controls="{{ item.controls }}"{% endif %}>{% if item.content is component %}{{ item.content.render()|raw }}{% else %}{{ item.content }}{% endif %}</li>
                {% endfor %}
        </ul>
    {%- endblock -%}
    {%- block footer -%}{%- endblock -%}
{%- endblock -%}