{# PHP interface base template
   Generates a php interface
#}{% extends "php/class/base.twig" %}

{%- block definer -%}
    {%- autoescape false -%}
        interface {{ name }}
        {%- if interfaces and interfaces is array %} extends {{ interfaces|join(', ')|raw }}{%- endif %}
    {%- endautoescape %}
{%- endblock -%}
{%- block traits %}{% endblock %}
{%- block properties %}{% endblock %}