{#
    Badge Template
    Provides a template for simple badges
#}<span class="badge-wrapper d-flex justify-content-center align-items-center{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if role %} role="{{ role }}"{% endif %}{% if title %} title="{{ title }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}><span class="badge{% if type %} {{ type }}{% endif %}">{% if content == 0 or content %}{{ content }}</span>{% endif %}</span>
