{#
    Icon Template
    Provides a template for simple icons
#}<span class="icon-wrapper{% if class %} {{ class }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}{% if role %} role="{{ role }}"{% endif %}{% if title %} title="{{ title }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}><i class="{% if icon %}{{ icon }}{% else %}fas fa-circle{% endif %}"></i>{% if content %}<span class="icon-content-wrapper pl-2">{{ content }}{% if subtext -%}
                <small class="text-muted d-flex font-weight-lighter"><i>{{ subtext }}</i></small>
            {%- endif %}</span>{% endif %}</span>
