{#
    Primary Content Component
    Provides a responsive primary content container component.
#}{%- extends 'html/component/bootstrap/content/primary.twig' -%}
{% block main -%}
    {% for key, section in content -%}
        <section id="{{ key }}-section" class="primary-content-section row">
            {%- if section is component %}
                {{ section.render()|raw }}
            {% else %}
                {{ section }}
            {% endif -%}
        </section>
    {% endfor -%}
{%- endblock -%}
