{#
    Default Error Content Component
    Provides a responsive primary content container component.
#}{%- extends 'html/component/base.twig' -%}
{% block main -%}
    <!-- Start Error Content Wrapper -->
    <div class="container-fluid px-0">
        <div class="row mx-0">
            {% for key, section in content -%}
                {%- if section is component %}
                    {{ section.render()|raw }}
                {% elseif section is array %}
                    {% for subkey, subsection in section %}
                        {% if subsection is component %}
                            {{ subsection.render()|raw }}
                        {% else %}
                            {{ subsection }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ section }}
                {% endif -%}
            {% endfor -%}
        </div>
    </div>
    <!-- End Error Content Wrapper -->
{%- endblock -%}