{#
    Form Input Field
    Displays a form input field
#}{% block content %}<span class="d-flex flex-row w-100{%- if class %} {{ class }}{%endif %}"><span class="d-flex flex-column md-form w-100">{%- if label and id %}<label for="{{ id }}" class="active">{{ label }}</label>{% endif %}<select {% if id %}id="{{ id }}" {% endif -%}
                                                                                                                                                                                                        class="browser-default custom-select {% if class or readonly or disabled or hidden %}{%- if readonly %}readonly {%endif %}{%- if disabled %}disabled {%endif %}{%- if hidden %}hidden{% else %}form-control{%endif %}{% endif %}"
                                                                                                                                                                                                        {%- if name %} name="{{ name }}"{% endif %} type="{% if type %}{{ type }}{% else %}text{% endif %}"
                                                                                                                                                                                                        {#                      {%- if value %} value="{{ value }}"{% endif %}#}
                                                                                                                                                                                                        {#                      {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}#}
                                                                                                                                                                                                        {%- if title %} title="{{ title }}"{% endif %}
                                                                                                                                                                                                        autocomplete="{%- if autocomplete %}on{% else %}off{% endif %}"
                                                                                                                                                                                                        {#                      {%- if autocorrect %} autocorrect="{{ autocorrect }}"{% endif %}#}
                                                                                                                                                                                                        {#                      {%- if autocapitalize %} autocapitalize="{{ autocapitalize }}"{% endif %}#}
                                                                                                                                                                                                        {%- if aria_label %} aria-label="{{ aria_label }}"{% endif %}
                                                                                                                                                                                                        {%- if required %} required{% endif %}
                                                                                                                                                                                                        {%- if autofocus %} autofocus{% endif %}
                                                                                                                                                                                                        {%- if readonly %} readonly{% endif %}
                                                                                                                                                                                                        {%- if disabled %} disabled{%endif %}
                                                                                                                                                                                                        {%- if hidden %} hidden{% endif %}>
                {% for option in options -%}
                    <option value="{{ option.value }}"{% if option.selected and option.selected is true %} selected{% endif %}>{{ option.display }}</option>
                {%- endfor %}
            </select>
            {%- if tooltip %}<span class="tooltip-wrapper d-flex pr-1 pt-1"><button id="{{ id }}-tooltip" type="button" tabindex="-1" class="tooltip-button badge badge-pill p-0 ml-auto" data-bs-toggle="popover" data-trigger="{% if tooltip_trigger %}{{ helptext_trigger }}{% else %}focus{% endif %}" data-content="{{ tooltip|raw }}"><i class="fa fa-question-circle text-default"></i></button></span>{% endif %}
        </span></span>{%- endblock %}