{#
    Form Button Field
    Displays a form button
#}{% block content %}{%- if label and id %}<label for="{{ id }}">{{ label }}</label>{% endif %}<button{% if id %} id="{{ id }}"{% endif %}
                                                                           {%- if class or readonly or disabled or hidden %} class="{%- if readonly %}readonly {%endif %}{%- if disabled %}disabled {%endif %}{%- if hidden %}hidden {%endif %}{%- if class %}{{ class }}{%endif %}"{% endif %}
                                                                           {%- if name %} name="{{ name }}"{% endif %} type="{% if type %}{{ type }}{% else %}submit{% endif %}"
                                                                           {%- if value %} value="{{ value }}"{% endif %}
                                                                           {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
                                                                           {%- if action %} formaction="{{ action }}"{% endif %}
                                                                           {%- if title %} title="{{ title }}"{% endif %}
                                                                           autocomplete="{%- if autocomplete %}on{% else %}off{% endif %}"
                                                                           {%- if autocorrect %} autocorrect="{{ autocorrect }}"{% endif %}
                                                                           {%- if autocapitalize %} autocapitalize="{{ autocapitalize }}"{% endif %}
                                                                           {%- if aria_label %} aria-label="{{ aria_label }}"{% endif %}
                                                                           {%- if required %} required{% endif %}
                                                                           {%- if autofocus %} autofocus{% endif %}
                                                                           {%- if readonly %} readonly{% endif %}
                                                                           {%- if disabled %} disabled{%endif %}
                                                                           {%- if hidden %} hidden{% endif %}>{{ content }}</button>
                                                                       {#{% if tooltip %}<span class="tooltip-wrapper d-flex pr-1 pt-1"><button id="{{ id }}-tooltip" type="button" tabindex="-1" class="tooltip-button badge badge-pill p-0 ml-auto" data-bs-toggle="popover" data-trigger="{% if tooltip_trigger %}{{ helptext_trigger }}{% else %}focus{% endif %}" data-content="{{ tooltip|raw }}"><i class="fa fa-question-circle text-default"></i></button></span>{% endif %}#}
{%- endblock %}