{#
    Form Checkbox Field
    Displays a form input field
#}{% block content %}<span class="d-flex flex-row w-100{%- if class %} {{ class }}{%endif %}"{%- if hidden %} hidden{% endif %}><span class="d-flex flex-column md-form w-100"><textarea{% if id %} id="{{ id }}"{% endif %}
                                                                                                                                                                               class="pr-2{%- if readonly or disabled or hidden %} {%- if readonly %}readonly {%endif %}{%- if disabled %}disabled {%endif %}{%- if hidden %}hidden {%endif %}{% endif %}"
                                                                                                                                                                               {%- if name %} name="{{ name }}"{% endif %}
                                                                                                                                                                               {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
                                                                                                                                                                               {%- if title %} title="{{ title }}"{% endif %}
                                                                                                                                                                               autocomplete="{%- if autocomplete %}on{% else %}off{% endif %}"
                                                                                                                                                                               {%- if autocorrect %} autocorrect="{{ autocorrect }}"{% endif %}
                                                                                                                                                                               {%- if autocapitalize %} autocapitalize="{{ autocapitalize }}"{% endif %}
                                                                                                                                                                               {%- if aria_label %} aria-label="{{ aria_label }}"{% endif %}
                                                                                                                                                                               {%- if required %} required{% endif %}
                                                                                                                                                                               {%- if autofocus %} autofocus{% endif %}
                                                                                                                                                                               {%- if readonly %} readonly{% endif %}
                                                                                                                                                                               {%- if disabled %} disabled{%endif %}
                                                                                                                                                                               {%- if hidden %} hidden{% endif %}>{%- if value %}{{ value }}{% endif %}</textarea>
            {% if tooltip %}<span class="tooltip-wrapper d-flex pr-1 pt-1"><button id="{{ id }}-tooltip" type="button" tabindex="-1" class="tooltip-button badge badge-pill p-0 ml-auto" data-bs-toggle="popover" data-trigger="{% if tooltip_trigger %}{{ helptext_trigger }}{% else %}focus{% endif %}" data-content="{{ tooltip|raw }}"><i class="fa fa-question-circle text-default"></i></button></span>{% endif %}
            {%- if label and id %}<label for="{{ id }}" class="form-check-label">{{ label }}</label>{% endif %}
        </span>
    </span>{%- endblock %}