{# 
    Ui Icon
    Provides a baseline for ui menu icons
#}{% extends "html/component/bootstrap/navbar/navbar-menu.twig" %}

{% block main %}
    {%- if debug.enabled -%}
        <!-- Block Menu -->
    {%- endif -%}
    {% block menu %}
        {%- if header %}
            {%- if debug.enabled -%}
                <!-- Block Header -->
            {%- endif -%}
            {% block header %}
                <h6 class="dropdown-header{% if header.class %} {{ header.class }}{% endif %}">
                    {% if header.title %}{{ header.title }}{% else %}Menu{% endif %}
                </h6>
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Header -->
            {%- endif -%}
        {%- endif %}
        {%- if links %}
            {%- if debug.enabled -%}
                <!-- Block Nav -->
            {%- endif -%}
            {%- block nav -%}{#
                {%- for id, details in links -%}
                    {%- if details.children -%}
                        {% include 'html/component/bootstrap/navbar/menu/toplevel-linkset.twig' with {"id": id, "details": details, "class": "py-2"} %}
                    {%- else -%}
                        {% include 'html/component/bootstrap/navbar/menu/toplevel-link.twig' with {"id": id, "details": details, "class": "py-2"} %}
                    {%- endif -%}
                {%- endfor -%}#}
                {%- for key, link in links %}
                    <a {%- if link.id %} id="{{ link.id }}"{% endif %} class="dropdown-item d-flex align-items-center{% if link.class %} {{ link.class }}{% endif %} w-auto" href="{% if link.href %}{{ link.href }}{% else %}#{% endif %}">
                        <div class="me-3">
                            {%- if link.icon %}
                                <div class="icon-circle{%- if link.icon.color %} bg-{{ link.icon.color }}{% else %} bg-primary{% endif %}">
                                    <i class="{{ link.icon.icon }} text-white"></i>
                                </div>
                            {%- endif %}
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex flex-row">
                                {%- if link.title %}
                                    <div class="link-title small">{{ link.title }}</div>
                                {%- endif %}
                                {%- if link.date %}
                                    <div class="link-date small text-gray-500 ms-auto">{{ link.date }}</div>
                                {%- endif %}
                            </div>
                            <div class="d-flex flex-column w-auto">
                                {%- if link.content %}
                                    <span class="link-content text-wrap">{{ link.content }}</span>
                                {%- endif %}
                            </div>
                        </div>
                    </a>
                {%- endfor %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Nav -->
            {%- endif -%}
        {%- endif %}
        {%- if debug.enabled -%}
            <!-- Block Links Clear -->
        {%- endif -%}
        {% block links_clear %}
            <div class="links-clear {% if links %} d-none{% else %} d-flex{% endif %} align-items-center w-100">
                <span class="link-content text-gray-500 text-center w-100">Nothing to see here.</span>
            </div>
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Block Links Clear -->
        {%- endif -%}
        {%- if _context['page-link'] %}
            {%- if debug.enabled -%}
                <!-- Block Page Link -->
            {%- endif -%}
            {% block page_link %}
                <a {%- if _context['page-link'].id %} id="{{ _context['page-link'].id }}"{% endif %} class="dropdown-item text-center small text-gray-500{%- if _context['page-link'].class %} {{ _context['page-link'].class }}{% endif %}" href="{%- if _context['page-link'].href %}{{ _context['page-link'].href }}{% else %}/notifications/{% endif %}">{%- if _context['page-link'].content %}{{ _context['page-link'].content }}{% else %}Show All{% endif %}</a>
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Page Link-->
            {%- endif -%}
        {%- endif %}
        {%- if footer %}
            {%- if debug.enabled -%}
                <!-- Block Footer -->
            {%- endif -%}
            {% block footer %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Block Footer-->
            {%- endif -%}
        {%- endif %}
    {% endblock %}
    {%- if debug.enabled -%}
        <!-- End Block Menu -->
    {%- endif -%}
{% endblock %}

