{# 
    Responsive Form Data Table
    Provides a searchable paginated inline table form component
#}{% extends "html/component/table/table.twig" %}

{%- block header -%}
    <thead{% if color %} class="{{ color }} {% if color != "white" %}white-text{% else %}text-dark{% endif %}"{% endif %}>
    <th scope="col"></th>
        {% for row in header -%}
        <th scope="col">{{ row }}</th>
        {%- endfor %}
</thead>
{%- endblock -%}

{% block content -%}
    <tbody>
        {% for row in content -%}
            <tr scope="row"{% if row.id %} id="{{ row.id }}"{% endif %}{% if row.class %} class="{{ row.class }}"{% endif %}{% if row.parent %} data-parent="{{ row.parent }}"{% endif %}{% if row.context %} data-context="{{ row.context }}"{% endif %}>
                <td>{%- include "html/component/form/fields/checkbox.twig" with [
                    "id": row.id ~ "-selector",
                    "class": "",
                    "name": row.id ~ "-selector",
                    "context": "form-table-row",
                    "category": "form-table",
                    "parent": row.id,
                ] -%}</td>
                    {% for cell in row.content -%}
                    <td>{{ cell }}</td>
                {%- endfor %}
            </tr>
        {%- endfor %}
    </tbody>
{%- endblock %}
