{#
    Sidebar Component
    Provides a responsive sidebar container component.
#}{%- autoescape 'html' -%}<aside{% if id %} id="{{ id }}"{% endif %} class="h-100{% if class %} {{ class }}"{% endif %}{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-bs-toggle="{{ toggle }}"{% endif %}{% if target %} data-bs-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}>
        {% if content %}{% block main -%}
                {% for key, value in content %}
                    {{- value|raw -}}
                {% endfor %}
            {%- endblock %}{% endif %}
        </aside>{%- endautoescape -%}
