{#
    Sidebar Component
    Provides a responsive sidebar container component.
#}{% extends "html/component/base.twig" %}
{%- block main -%}
    {%- if brand %}
        {%- if debug.enabled -%}
            <!-- Sidebar Brand -->
        {%- endif -%}
        {%- block brand %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Sidebar Brand -->
        {%- endif -%}
    {%- endif %}
    {%- if header %}
        {%- if debug.enabled -%}
            <!-- Sidebar Header -->
        {%- endif -%}
        {%- block header %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Sidebar Header -->
        {%- endif -%}
    {%- endif %}
    {%- if content %}
        {%- if debug.enabled -%}
            <!-- Sidebar Content -->
        {%- endif -%}
        {%- block content %}
            <div class="container px-0">
                <div class="row px-0 mx-0">
                    {% for key, value in content %}
                        <div class="col-12 px-0 mx-0">
                            {{- value|raw -}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Sidebar Content -->
        {%- endif -%}
    {%- endif %}
    {%- if ui %}
        {%- if debug.enabled -%}
            <!-- Sidebar UI -->
        {%- endif -%}
        {%- block ui %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Sidebar UI -->
        {%- endif -%}
    {%- endif %}
    {%- if footer %}
        {%- if debug.enabled -%}
            <!-- Sidebar Footer -->
        {%- endif -%}
        {%- block footer %}
        {% endblock %}
        {%- if debug.enabled -%}
            <!-- End Sidebar Footer -->
        {%- endif -%}
    {%- endif %}
{%- endblock %}