{#
    Header Component
    Provides a responsive header container component.
#}{%- autoescape 'html' -%}<header{% if id %} id="{{ id }}"{% endif %} class="header container-fluid{% if class %} {{ class }}{% endif %}"{% if context %} data-context="{{ context }}"{% endif %}{% if component %} data-component="{{ component }}"{% endif %}{% if category %} data-category="{{ category }}"{% endif %}{% if parent %} data-parent="{{ parent }}"{% endif %}{% if toggle %} data-toggle="{{ toggle }}"{% endif %}{% if target %} data-target="{{ target }}"{% endif %}{% if expanded and expanded is true or expanded is false %} aria-expanded="{{ expanded ? 'true' : 'false' }}"{% endif %}{% if controls %} aria-controls="{{ controls }}"{% endif %}>
        {% if content %}{% block main %}
                {% for key, value in content %}
                    {{- value|raw -}}
                {% endfor %}
            {% endblock %}{% endif %}
        </header>{%- endautoescape -%}
