{#
    Dashboard Sidebar Navigation Component
    Provides a responsive sidebar navigation menu for the dashboard.
#}{% extends "html/component/bootstrap/sidebar/sidebar.twig" %}
{%- block main -%}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="{{ id }}-main">
        {%- if brand %}
            {%- if debug.enabled -%}
                <!-- Sidebar Brand -->
            {%- endif -%}
            {%- block brand %}
                {%- include "html/component/bootstrap/navbar/navbar-brand.twig" with {"class": "sidebar-brand d-flex align-items-center justify-content-center"} %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Brand -->
            {%- endif -%}
        {%- endif %}
        {%- if header %}
            {%- if debug.enabled -%}
                <!-- Sidebar Header -->
            {%- endif -%}
            {%- block header %}
                <!-- Divider -->
                {%- if brand %}
                    <hr class="sidebar-divider my-0">
                {% endif %}
                {%- for key, item in header %}
                    <li class="nav-item{% if item.class %} {{ item.class }}{% endif %}">
                        {%- if item.href %}
                            <a class="nav-link" href="{{ item.href }}">
                                {%- if item.icon %}<i class="{{ item.icon }}"></i>{% endif -%}
                                {%- if item.display %}<span>{{ item.display }}</span>{% endif -%}
                            </a>
                        {%- endif %}
                    </li>
                {%- endfor %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Header -->
            {%- endif -%}
        {%- endif %}
        {%- if sections %}
            {%- if debug.enabled -%}
                <!-- Sidebar Sections -->
            {%- endif -%}
            {%- block sections %}
                {%- if brand or header %}
                    <!-- Divider -->
                    <hr class="sidebar-divider">
                {%- endif %}
                {%- for key, section in sections %}
                    {%- if section.title %}
                        <div class="sidebar-heading">{{ section.title }}</div>
                    {%- endif %}
                    {%- for subkey, subsection in section.children %}
                        <li class="nav-item">
                            <a class="nav-link{% if subsection.children %} collapsed{% endif %}" href="{% if subsection.href %}{{ subsection.href }}{% else %}#{% endif %}"{% if subsection.children %} data-bs-toggle="collapse" data-bs-target="#{{ subsection.id }}"
                               aria-expanded="true" aria-controls="{{ subsection.id }}"{% endif %}>
                                {% if subsection.icon %}<i class="{{ subsection.icon }}"></i>{% endif %}
                                {% if subsection.title %}<span>{{ subsection.title }}</span>{% endif %}
                            </a>
                            <div id="{{ subsection.id }}" class="collapse{% if subsection.class %} {{ subsection.class }}{% endif %}" aria-labelledby="headingTwo" data-parent="#{{ id }}-main">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    {%- if subsection['menu-title'] %}<h6 class="collapse-header">{{ subsection['menu-title'] }}</h6>{% endif %}
                                    {%- if subsection.children %}
                                        {%- for link_key, link in subsection.children %}
                                            <a class="collapse-item" href="{%- if link.href %}{{ link.href }}{% else %}#{% endif %}">{%- if link.display %}{{ link.display }}{%- elseif link.href %}{{ link.href }}{% else %}#{% endif %}</a>
                                        {%- endfor %}
                                    {%- endif %}
                                </div>
                            </div>
                        </li>
                    {%- endfor %}
                {%- endfor %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Sections -->
            {%- endif -%}
        {%- endif %}
        {%- block content %}{% endblock %}
        {%- if ui %}
            {%- if debug.enabled -%}
                <!-- Sidebar UI -->
            {%- endif -%}
            {%- block ui %}
                {%- if brand or header or content %}
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">
                {%- endif %}
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar UI -->
            {%- endif -%}
        {%- endif %}
        {%- if footer %}
            {%- if debug.enabled -%}
                <!-- Sidebar Footer -->
            {%- endif -%}
            {%- block footer %}
                {%- if brand or header or content or ui %}
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">
                {%- endif %}
            {% endblock %}
            {%- if debug.enabled -%}
                <!-- End Sidebar Footer -->
            {%- endif -%}
        {%- endif %}
    </ul>
{%- endblock -%}
