{# 
    Standard Nav
    Provides a responsive nav menu, that displays nested navigation sets,
    collapses into icons at tablet size view, and into a hamburger menu at
    smaller views.
    Multi-level dropdown support is provided for full-size displays,
    while a more mobile friendly accordion link functionality is used
    at smaller sizes
#}{% extends "html/component/base.twig" %}
{% block main %}
    {% block nav %}
        {% for id, details in links %}
            {% if details.children %}
                {% include 'html/component/bootstrap/navigation/primary-toplevel-linkset.twig' with {"id": id, "details": details} %}
            {% else %}
                {% include 'html/component/bootstrap/navigation/primary-toplevel-link.twig' with {"id": id, "details": details} %}
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endblock %}