{# 
    Primary Top Level Linkset
    Represents a set of links that should display at the top level of the primary navigation.
#}
<li id="primary-navigation-{{ id }}" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{{ details.href }}" id="navbar-primary-navigation-{{ id }}" role="button" data-bs-toggle="dropdown" data-bs-target="#primary-navigation-{{ id }}" aria-haspopup="true" aria-expanded="false">{{ details.name }}</a>
    <div class="dropdown-menu" aria-labelledby="navbar-primary-navigation-{{ id }}">
        {% for key, child in children %}
            {% if child.children %}
                {% include 'html/component/bootstrap/navigation/primary-secondary-linkset.twig' with {"id": key, "details": child, "parent": id} %}
            {% else %}
                {% include 'html/component/bootstrap/navigation/primary-secondary-link.twig' with {"id": key, "details": child, "parent": id} %}
            {% endif %}
        {% endfor %}
    </div>
</li>