{# 
    Primary Navigation
    Provides a responsive navbar menu, that displays nested navigation sets,
    collapses into icons at tablet size view, and into a hamburger menu at
    smaller views.
    Multi-level dropdown support is provided for full-size displays,
    while a more mobile friendly accordion link functionality is used
    at smaller sizes
#}{% extends "html/component/base.twig" %}{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        {% block nav_control %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primary-navigation-menu" aria-controls="primary-navigation-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endblock %}

        <div class="collapse navbar-collapse" id="primary-navigation-menu">
            {% block nav %}
                <ul class="navbar-nav mr-auto">
                    {% for id, details in navigation %}
                        {% if details.children %}
                            {% include 'html/component/bootstrap/navigation/primary-toplevel-linkset.twig' with {"id": id, "details": details} %}
                        {% else %}
                            {% include 'html/component/bootstrap/navigation/primary-toplevel-link.twig' with {"id": id, "details": details} %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endblock %}
            {% block search %}
                {% include "html/component/bootstrap/searchbar/searchbar.twig" %}
            {% endblock %}
        </div>
    </nav>
{% endblock %}