{# 
    Primary Secondary Link
    Represents a single link that is nested inside a top level linkset,
    or secondary linkset in the primary navigation.
#}
<a id="primary-navigation-sublink-{{ parent }}-{{ id }}" class="dropdown-item" href="{{ details.href }}">{{ details.name }}</a>