{# 
    Primary Secondary Linkset
    Represents a set of links that is nested inside a top level linkset,
    or another secondary linkset further within.
#}
<li id="primary-navigation-sublink-{{ parent }}-{{ id }}" class="dropdown-item dropdown">
    <a class="nav-link dropdown-toggle" href="{{ details.href }}" id="navbar-primary-navigation-sublink-{{ parent }}-{{ id }}" role="button" data-bs-toggle="dropdown" data-bs-target="#primary-navigation-sublink-{{ parent }}-{{ id }}" aria-haspopup="true" aria-expanded="false">{{ details.name }}</a>
    <div class="dropdown-menu" aria-labelledby="navbar-primary-navigation-sublink-{{ parent }}-{{ id }}">
        {% for key, child in children %}
            {% if child.children %}
                {% include 'html/component/bootstrap/navigation/primary-secondary-linkset.twig' with {"id": key, "details": child, "parent": id} %}
            {% else %}
                {% include 'html/component/bootstrap/navigation/primary-secondary-link.twig' with {"id": key, "details": child, "parent": id} %}
            {% endif %}
        {% endfor %}
    </div>
</li>