{# 
    Primary Top Level Link
    Represents a single link that should display at the top level of the primary navigation.
#}
<li id="primary-navigation-{{ id }}" class="nav-item active">
    <a class="nav-link" href="{{ details.href }}">{{ details.title }}</a>
</li> 