{# 
    Vertical Navigation
    Provides a responsive vertical navigation menu for use in sidebar
    dashboard-style navigation menus.
    Collapses to icons at smaller sizes to prevent using too much screen space
#}{% extends "html/component/base.twig" %}{% block main %}{% endblock %}
