{#
    Default Twig Page Layout
    
    This is the default page configuration
#}{% extends "html/layout/base.twig" %}
{% block main %}
    {% if header -%}
        {%- if debug.enabled -%}
            <!-- Header -->
        {%- endif -%}
        {%- block header -%}
            {{ header.render()|raw }}
        {%- endblock -%}
        {%- if debug.enabled -%}
            <!-- End Header -->
        {%- endif -%}
    {% endif %}
    <div id="page-top" class="container-fluid d-flex flex-column flex-lg-row px-0 mx-0">
        {%- if debug.enabled -%}
            <!-- Debug -->
            {% block debug %}
                <div id="debug-content-wrapper" class="col-12 px-0 mx-0 collapse">
                    {{ debug.component.render()|raw }}
                </div>
            {% endblock %}
            <!-- End Debug -->
        {%- endif -%}
        {%  block content -%}
            <div id="documentation-main-content-wrapper" class="d-flex flex-column flex-lg-row px-0 mx-0 w-100">
                {%- if main -%}
                    {%- if debug.enabled -%}
                        <!-- Content -->
                    {%- endif -%}
                    <div class="col-12 {% if _context["left-sidebar"] %}col-lg-9 col-xxl-10 {% endif %}order-1 {% if _context["left-sidebar"] %}order-lg-2{% endif %}">
                        {{ main.render()|raw }}
                    </div>
                    {%- if debug.enabled -%}
                        <!-- End Content -->
                    {%- endif -%}
                    {%- if debug.enabled -%}
                        <!-- Sidebar -->
                    {%- endif -%}
                    {%- block sidebar -%}
                        {%- if _context["left-sidebar"] -%}
                            {%- if debug.enabled -%}
                                <!-- Left Sidebar -->
                            {%- endif -%}
                            {% block left_sidebar %}
                                <div class="col-12 col-lg-3 col-xxl-2 order-2 order-lg-1 sidebar left">
                                    {{ _context["left-sidebar"].render()|raw }}
                                </div>
                            {% endblock %}
                            {%- if debug.enabled -%}
                                <!-- End Left Sidebar -->
                            {%- endif -%}
                        {%- endif -%}
                    {%- endblock -%}
                    {%- if debug.enabled -%}
                        <!-- End Sidebar -->
                    {%- endif -%}
                </div>
            {%- endif -%}
        {% endblock -%}
    </div>
    {%- if debug.enabled -%}
        <!-- Footer -->
    {%- endif -%}
    {%- block footer -%}
        {{ footer.render()|raw }}
    {%- endblock -%}
    {%- if debug.enabled -%}
        <!-- End Footer -->
    {%- endif -%}
{% endblock %}
