{#
    Dashboard Userbar Component
    Provides a userbar to display information and options for
    the logged in user on the default dashboard.
#}{%- autoescape 'html' -%}
    {%- block main -%}
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            {% block search -%}
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item no-arrow d-none d-sm-inline-block mx-1 ms-auto w-auto">
                {% include "html/component/dashboard/ui/searchbar/searchbar.twig" %}
                </li>
            {%- endblock %}
            {% block alerts -%}
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    {% include "html/component/dashboard/ui/alerts/userbar-alerts.twig" %}
                </li>
            {%- endblock %}
            {% block messages -%}
                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    {% include "html/component/dashboard/ui/alerts/userbar-alerts.twig" %}
                </li>
            {%- endblock %}
            {%- if debug.enabled -%}
                <!-- Debug Toggle -->
                {% block debug_toggle -%}
                    <li class="nav-item dropdown no-arrow mx-1">
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Toggle Debug Information Panel">
                        {% include "html/component/dashboard/ui/debug/userbar-debug.twig" %}
                        </span>
                    </li>
                {%- endblock %}
                <!-- End Debug Toggle -->
            {%- endif -%}
            <div class="topbar-divider d-none d-sm-block"></div>

            {% block profile -%}
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    {% include "html/component/dashboard/ui/user/profile.twig" %}
                </li>
            {%- endblock %}

        </ul>
    {%- endblock -%}
{%- endautoescape -%}