{# PHP index base template
   Generates a php index file
#}{% extends "php/base.twig" %}

{%- block main -%}
    {%- autoescape false %}
        {%- if docblock %}
            {%- block docblock %}{{ docblock.render()|raw }}{% endblock %}
        {%- endif %}
        {%- block content %}
            {%- if expressions %}
                {%- block expressions %}
                    {%- for expression in expressions -%}
                        {{ expression.render()|raw -}}
                    {%- endfor %}
                {%- endblock %}
            {%- endif %}
        {%- endblock -%}
    {%- endautoescape %}
{%- endblock -%}